@import '../../styles/mixins';

.header {
  min-height: 350px;
  opacity: 1;
  background-image: linear-gradient(-10.8deg, #ff6900 56%, #fc9700 56%);
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  .headerContent {
    margin-top: 20px;
    @include moreThanMobile() {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }
    @include moreThanTablet() {
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
    }
    .headerImage {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
        height: 200px;
        object-fit: cover;
        border-radius: 9999px;
      }
      @include moreThanMobile() {
        margin-left: 10px;
        display: unset;
        max-width: 350px;
        img {
          width: 100%;
          height: 250px;
        }
      }
      @include moreThanTablet() {
      }
    }
    .headerText {
      margin-left: 15px;
      .headerHeading {
        h1 {
          text-align: center;
          font-size: 45px;
          color: #fff;
          margin-top: 0.1em;
          margin-bottom: 0.1em;
        }
        @include moreThanMobile() {
          h1 {
            text-align: left;
            font-size: 50px;
            font-weight: 800;
          }
          @include moreThanTablet() {
            h1 {
              font-size: 65.5px;
            }
          }
        }
      }
      .headerDescription {
        h2 {
          font-size: 25px;
          font-weight: 400;
          letter-spacing: -0.2px;
          margin-bottom: 1em;
          color: #fff;
          text-align: center;
        }
        @include moreThanMobile() {
          h2 {
            text-align: left;
            font-size: 35px;
          }
        }
        @include moreThanTablet() {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
}
