@import '../../styles/mixins';

.loginForm {
  display: flex;
  justify-content: center;
  min-width: 375px;
  // @include moreThanTablet() {
  //   margin-left: 20px;
  // }
  @include moreThan4k() {
    min-width: 500px;
  }
  form {
    width: 80%;
    @include moreThanMobile() {
      width: 100%;
    }
  }

  .loginFormButton {
    margin-top: 25px;
    width: 100%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThan4k() {
      font-size: 22px;
      height: 46px;
    }
  }
  .frogetPassword {
    margin-top: 10px;
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    color: #495f74 !important;
    text-decoration: underline;
    @include moreThan4k() {
      font-size: 22px;
    }
  }
  .errorText {
    margin: 1rem 0 0 0;
  }
}
