@import '../../styles/mixins';

.addChildrenFormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.addChildrenFormButton {
  width: 100%;
  @include moreThanMobile() {
    width: unset;
  }
  // .birthdayDateInput {
  //   width: 100%;
  // }
}
