.loaderContainer {
  height: 80vh;
  width: 100vw;
  background: white;
  position: relative;

  .loaderContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loaderText {
      text-align: center;
      .loaderDot1 {
        animation: opacityAnimation 0.7s infinite;
        font-size: 28px;
      }
      .loaderDot2 {
        animation: opacityAnimation 1s infinite;
        font-size: 28px;
      }
      .loaderDot3 {
        animation: opacityAnimation 1.3s infinite;
        font-size: 28px;
      }
    }
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
