.cards {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  .cardsCard {
    grid-column: 2/3;
  }
  .cardsChart {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .card {
    border: 1px solid #e6ebf1;
    border-radius: 7px;
    height: 100%;
    div[class='ant-card-body'] {
      padding: 17px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      &::before {
        content: unset;
      }
    }
  }
  .cardContent {
    flex: 1;
    .cardHeading {
      font-size: 34px !important;
      color: #1a3353;
      font-weight: 600;
      margin-bottom: 10px;
      .cardHeadingPost {
        font-size: 20px;
      }
    }
    .cardDescription {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: #1a3353;
      font-weight: 400;
    }
  }
  .cardIcon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    span[class='anticon anticon-clock-circle'] {
      font-size: 70px;
      opacity: 0.2;
    }
  }
}
