@import '../../styles/mixins';

.featuresCard {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  @include moreThanMobile() {
    margin-bottom: 10px;
  }
  @include moreThanTablet() {
    margin-bottom: 0;
  }
  .featuresCardImage {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .featuresCardHeading {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    line-height: 34px;
    padding-bottom: 10px;
  }
  .featuresCardParagraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.65);
  }
}
