@import '../../styles/mixins';

.quoteContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
  padding: 15px;
  @include moreThanTablet() {
    padding: 0;
  }
  .quote {
    padding: 30px;
    width: 100%;
    padding-top: 35px;
    background-color: #d2e4f3;
    display: flex;
    justify-content: center;
    @include moreThanTablet() {
      width: 1100px;
    }
    .quoteText {
      max-width: 483px;
      .quotation {
        font-size: 20px;
        .quotationImage {
          border-radius: 9999px;
          margin-top: -25px;
          margin-right: 5px;
          height: 32px;
          width: 32px;
        }
        .quotationBold {
          color: #f58a08;
        }
      }
      .author {
        margin-top: 20px;
        font-size: 23px;
      }
    }
  }
  .learningPlatformButton {
    margin-top: 45px;
    .learningPlatformSignupButton {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 42px;
      border-radius: 7px;
      font-size: 16px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        background: #3a4b5c !important;
      }
      @include moreThanMobile() {
        width: 50%;
      }
      @include moreThanTablet() {
        width: 30%;
      }
    }
  }
}
