@import '../../styles/mixins';

.signup {
  padding: 40px;
  background: linear-gradient(135deg, #fcb900, #ff6900);
  margin-top: 45px;
  .signupHeading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    @include moreThanMobile() {
      font-size: 62px;
    }
  }
  .signupFormButton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    background: #1c5858 !important;
    border-color: #1c5858 !important;
    &:hover {
      background: #11222c !important;
    }
    @include moreThanMobile() {
      width: 50%;
    }
    @include moreThanTablet() {
      width: 25%;
    }
  }
}
