@import '../../styles/mixins';

.testimonial {
  // margin-bottom: 30px;
  padding: 50px;
  margin-top: 45px;
  background-color: #f4f5f6;
  .testimonialHeading {
    text-align: center;
    margin-bottom: 35px;
  }
  .testimonialBox {
    @include moreThanTablet() {
      display: flex;
      justify-content: center;
    }
    .testimonialBoxInner {
      margin-top: 30px;
      @include moreThanTablet() {
        max-width: 1100px;
        display: flex;
      }

      .testimonialContainer {
        @include moreThanTablet() {
          display: flex;
          justify-content: space-between;
          gap: 30px;
        }
      }
    }
  }
}
