@import '../../styles/mixins';

.worksBox {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  .worksBoxInner {
    max-width: 1100px;
    padding: 45px 25px;
    background: linear-gradient(
      135deg,
      rgb(255, 245, 203) 0%,
      rgb(182, 227, 212) 50%,
      rgb(51, 167, 181) 76%
    );
    .worksHeading {
      text-align: center;
      font-size: 48px;
    }
    .worksCardsContainer {
      @include moreThanTablet() {
        display: flex;
        justify-content: center;
      }
      .worksCards {
        display: block;
        margin: 0 auto;
        @include moreThanMobile() {
          display: grid;
          gap: 30px;
          grid-template-columns: 1fr 1fr;
        }
        @include moreThanTablet() {
          display: flex;
          max-width: 1100px;
        }
      }
    }
  }
}
