@import '../../styles/mixins';
.parentDashboard {
  min-height: calc(100vh - 94px);
  border-top: 0.05rem solid #999 !important;
  background: #fff;
  .sideBar {
    background: #fff;
    padding-top: 10px;
    display: none;
    @include moreThanMobile() {
      display: none;
    }
    @include moreThanTablet() {
      display: unset;
    }
    .siderOptions.siderOptionsActive {
      background: #495f74;
      &:hover {
        background: #495f74;
      }
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
      span {
        svg {
          color: white;
        }
      }
      &::after {
        box-sizing: border-box;
        line-height: 40px;
        content: '';
        border-right: 3px solid #999999;
        transform: scaleY(1);
        opacity: 1;
        transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
          -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
    .siderOptions {
      margin-top: 0px;
      white-space: normal;
      color: #727272;
      height: auto;
      line-height: 1.5;
      padding-bottom: 10px;
      padding-top: 10px;
      &:hover {
        background: #475f744a;
        color: #5a5a5a;
      }
      a {
        color: #727272;
      }
      a:hover {
        color: #5a5a5a;
      }
    }
  }
}
.parentDashboardContent {
  background: #fafafb;
  padding: 25px;
}

// background: linear-gradient(
//     135deg,
//     rgb(245, 228, 215) 50%,
//     rgb(214, 203, 165) 50%,
//     rgb(242, 178, 99) 50%
//   );
