.heading4 {
  font-size: 18px;
  font-family: GilroyBold;
  text-align: left;
  margin: 0;
}

.heading3 {
  font-size: 18px;
  font-family: GilroyMedium;
}

.body14 {
  font-size: 14px;
  font-family: GilroyLight;
  text-align: left;
}

.label14 {
  font-size: 14px;
  font-family: GilroyLight;
  margin: 0;
}

.label14Bold {
  font-size: 14px;
  font-family: GilroyBold;
  margin: 0;
}

.label14Light {
  font-size: 14px;
  font-family: GilroyMedium;
}

.heading2 {
  font-size: 20px;
  font-family: GilroyMedium;
  margin: 0;
}

.label15Light {
  font-size: 15px;
  font-family: GilroyMedium;
}

.heading5 {
  font-size: 16px;
  font-family: GilroyMedium;
  text-align: left;
  margin: 0;
}

.body13 {
  font-size: 13px;
  font-family: GilroyMedium;
  margin: 0;
}

.heading1 {
  font-size: 26px;
  font-family: GilroyMedium;
}

.label19 {
  font-size: 18px;
  font-family: GilroyRegular;
  text-align: left !important;
  margin: 0;
  line-height: 1rem;
}

.label13 {
  font-size: 13px;
  font-family: GilroyRegular;
  text-align: left !important;
  margin: 0;
}

.label19Bold {
  font-size: 18px;
  font-family: GilroyBold;
  text-align: left !important;
  margin: 0;
  line-height: 1rem;
}

.label17 {
  font-size: 17px;
  font-family: GilroyRegular;
  margin: 0;
  line-height: 1rem;
}

.label15 {
  font-size: 15px;
  font-family: GilroyBold;
  line-height: 1rem;
}

.label10 {
  font-size: 10px;
  font-family: GilroyBold;
  line-height: 1rem;
}
