.ImageModalContainer {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  .toySelectContainer {
    cursor: pointer;
  }
  .alreadyHasToy {
    // background-color: gray;
    // z-index: 10;
    display: none;
  }
}
