@import '/styles/mixins';

.adjustChildrenButtonContainer {
  margin-top: 15px;

  .addRemoveChildButton {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
      display: unset;
      width: 50%;
    }
  }
}
