@import '/styles/mixins';
.cardInputContainer {
  margin-top: 15px;
  .cardLabel {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
  }
  .cardInputHolder {
    width: 100%;
    border: 0.05rem solid #999999 !important;
    padding: 10px;
    border-radius: 7px;
  }
}
.billingFormButtonContainer {
  margin-top: 15px;
  .billingFormButton {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
      display: unset;
      width: 50%;
    }
  }
}
