@import '/styles/mixins';

.CancelButton {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 42px;
  border-radius: 7px;
  font-size: 16px;
  background: #d30303 !important;
  border-color: #a83737 !important;
  &:hover {
    background: #c40700 !important;
  }
  @include moreThanMobile() {
    display: unset;
    width: 50%;
  }
}
