@import '../../styles/mixins';

.cardContainer {
  display: flex;
  justify-content: center;

  .cardDescription {
    margin-top: 10px;
  }
  .blogCardButton {
    color: white;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
  }
}
