.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 6px solid #e66a2c;
  font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  backdrop-filter: blur(20px);
  .userProfileContainer {
    .userProfile {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      .userProfileText {
        text-align: right;
        .userProfileTextName {
          font-weight: bold;
          font-size: 15px;
          line-height: 1;
        }
        .userProfileTextDesignation {
          font-size: 12px;
        }
      }
    }
    .dropdownMenu {
      display: flex;
      align-items: center;
    }
  }
}

.menuItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  gap: 10px;
  &:hover {
    color: #fff;
    background: #f1834c !important;
  }
  .linkText {
    margin-bottom: 0 !important;
    font-family: 'WonderB', 'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    &:hover {
      color: #fff;
    }
  }
}
