@import 'styles/mixins';

.childNavbarHomeContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  @include moreThanMobile() {
    padding: 20px 50px;
  }
  border-bottom: 6px solid #e66a2c;
  font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  backdrop-filter: blur(20px);

  .logoContainer {
    .logo {
      width: 200px;
      @include moreThanMobile() {
        width: 290px;
      }
    }
  }

  .linksContainer {
    display: none;
    @include moreThanTablet() {
      display: flex;
    }
    // display: flex;
    align-items: center;
    gap: 40px;
    a {
      font-size: 14px;
      color: #000;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      &:hover {
        color: #5a5a5a;
      }
    }
    .childNavbarHomeButton {
      height: 40px;
      border-radius: 7px;
      font-size: 16px;
      background: #e66a2c !important;
      border-color: #707070 !important;
      &:hover {
        background: #e66321 !important;
      }
      span {
        margin-top: 4px;
      }
    }
  }
}

.mobileLinksContainer {
  display: block;
  @include moreThanTablet() {
    display: none;
  }
  .menuButton {
    background: #e66a2c !important;
    border-color: #707070 !important;
    &:hover {
      background: #e66321 !important;
    }
  }
}

.drawerContainer {
  font-size: 20px !important;
  .drawerLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: #727272;
      &:hover {
        color: #5a5a5a;
      }
    }
    .childNavbarHomeButton {
      height: 40px;
      border-radius: 7px;
      font-size: 16px;
      background: #e66a2c !important;
      border-color: #707070 !important;
      &:hover {
        background: #e66321 !important;
      }
    }
  }
}
