@import '../../styles/mixins';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-left: auto;
  height: 10vh;
  margin-right: auto;
  @include moreThanMobile() {
    padding: 20px 40px;
  }
  .logoContainer {
    .logo {
      width: 200px;
      @include moreThanMobile() {
        width: 290px;
      }
    }
  }
  .linksContainer {
    display: none;
    @include moreThanTablet() {
      // display: none;
      display: flex;
    }
    align-items: center;
    gap: 40px;
    a {
      font-size: 15px;
      color: #000;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      &:hover {
        color: #5a5a5a;
      }
    }
  }
}

.mobileLinksContainer {
  display: block;
  @include moreThanTablet() {
    display: none;
  }
  .menuButton {
    background: #495f74 !important;
    border-color: #495f74;
    &:hover {
      background: #3a4b5c !important;
    }
  }
}

.drawerContainer {
  font-size: 20px !important;
  .drawerLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: #727272;
      &:hover {
        color: #5a5a5a;
      }
    }
  }
  .drawerAvatarContainer {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    @include moreThanMobile() {
      display: none;
    }
    margin-top: 25px;
    .drawerAvatar {
      height: 90px;
      width: 90px;
      position: relative;
      cursor: pointer;
      &::after {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        content: '';
        position: absolute;
        background: linear-gradient(
          to top,
          rgb(231 106 48 / 77%) 20%,
          rgb(231 106 48 / 20%) 40%,
          rgba(255, 255, 255, 0) 60%
        );
        object-fit: cover;
        vertical-align: middle;
        border: 2px solid rgba(231, 106, 48, 255);
        border-radius: 12px;
      }
    }
  }
}
