@import 'styles/mixins';

.postCardsContainer {
  margin-top: 45px;
  display: grid;
  @include moreThanMobile() {
  }
  @include moreThanTablet() {
  }
  .postCards {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    @include moreThanMobile() {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include moreThanTablet() {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
