@import '../mixins';

.parentDashboardContainer {
  .parentDashboardButtonContainer {
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include moreThanMobile() {
      gap: 50px;
      margin-bottom: 25px;
      flex-direction: row;
    }
    .activeDashboardButton {
      margin-top: 10px;
      height: 42px;
      border-radius: 7px;
      font-size: 16px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      width: 80%;
      @include moreThanTablet() {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4) !important;
        width: 30%;
      }
      &:hover {
        background: #3a4b5c !important;
      }
    }
    .dashboardButton {
      // padding: 25px;
      margin-top: 10px;
      font-size: 16px;
      color: #495f74;
      height: 42px;
      border: 0.05rem solid #495f74 !important;
      border-radius: 7px;
      background: transparent !important;
      width: 80%;
      @include moreThanTablet() {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4) !important;
        width: 30%;
      }
    }
    // @include moreThanMobile() {
    //   width: 25%;
    // }
  }
  .ChartContainer {
    margin-bottom: 25px;
    @include moreThanTablet() {
      display: flex;
    }
    .ChartContainerChart {
      color: #495f74;
      min-height: 400px;
      width: 100%;
      @include moreThanTablet() {
        width: 70%;
      }
    }
    .lineChart {
      height: 400px;
    }
  }
  .CardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    @include moreThanTablet() {
      width: 30%;
    }
    .CardContainerCard {
      .CardTagName {
        font-weight: 600;
        width: 80%;
      }
      .CardTagRating {
        font-weight: 600;
      }
    }
  }
}
