@import '../../styles/mixins';

.cardContainer {
  margin-bottom: 10px;
  @include moreThanMobile() {
    // max-width: 320px;
  }
  .cardImage {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .cardName {
    margin-bottom: 0px;
    font-size: 26px;
  }
  .cardDesignation {
    margin-top: 0px !important;
  }
  .cardDescription {
    font-size: 16px;
  }
  .cardLinkedinIcon {
    span[class='anticon'] {
      background-color: #0d66c2;
      border-radius: 50%;
      padding: 5px;
      svg {
        fill: #fff;
      }
    }
  }
}
