@import '../../styles/mixins';

.descContainer {
  // margin-top: 25px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  div[class='ant-typography'] {
    font-size: 14px;
    @include moreThanMobile() {
      padding: 10px 20px;
      // margin-top: 45px;
      max-width: 1100px;
      div[class='ant-typography'] {
        font-size: 22px;
      }
    }
  }
}
