@import '../../styles/mixins';

.teamContainer {
  margin-top: 30px;
  padding-bottom: 20px;
  @include moreThanMobile() {
    margin-top: 45px;
  }
  .teamHeading {
    font-size: 42px;
    text-align: center;
    @include moreThanMobile() {
      font-size: 52px;
    }
  }
  .teamMembers {
    padding: 10px;
    @include moreThanMobile() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    @include moreThanTablet() {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
    }
  }
}
