.createChildrenProfileFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.headerStyles {
  font-size: large;
  font-weight: bold;
}
