@import '../../../styles/mixins';
.avatar_selector {
  margin-top: 20px;
  grid-column: 1/-1;
  .avatar_selector__heading {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
  }
  .avatars_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    max-width: 800px;
    @include moreThanMobile() {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @include moreThanTablet() {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  .avatar_container.avatar_container_active {
    border: 1.5px solid #999999 !important;
  }
  .avatar_container {
    max-width: 500px;
    border-radius: 60%;
    width: 70px;
    height: 70px;

    @include moreThanMobile() {
      width: 60px;
      height: 60px;
    }
    @include moreThanTablet() {
      width: 80px;
      height: 100px;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    .avatar_check_icon {
      position: absolute;
      top: 70%;
      left: 50%;
    }
  }
}

.errorMessage {
  color: #ff4d4f;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 5px;
}
