@import '../../../styles/mixins';
@import '../../../styles/variables';

.customInputContainer {
  margin-top: $spacing-small !important;

  .inputLabel {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    @include moreThan4k() {
      font-size: 20px;
    }
  }
  .customInput {
    border-radius: $border-radius-base;
    border: $border-light;
    height: 42px;
    font-size: 16px;
    width: 100%;
    &::placeholder {
      font-size: 16px;
      color: #5a5a5a;
    }
    @include moreThanMobile() {
      width: 100%;
    }
    @include moreThan4k() {
      font-size: 20px;
    }
  }
  // Number Input Styles
  .customInputNumber {
    input {
      height: 42px;
    }
  }

  // Invalid Styles
  .invalidInput {
    border-color: #ff4d4f;
  }
  .errorMessage {
    color: #ff4d4f;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 5px;
  }
  // Select Styles
  .customSelectInput {
    display: flex;
    align-items: center;
    // width: 80%;
    @include moreThanMobile() {
      width: 100%;
    }
  }
}
