@import '../../styles/_mixins.scss';

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 375px;
  form {
    margin-left: 10px;
    width: 90%;
    @include moreThanMobile() {
      width: 100%;
    }
  }

  .radioButtonsContainer {
    margin-top: 15px;
    .radioButtonLabel {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.75);
      .customRadioButton {
      }
    }
  }
  .cardInputContainer {
    margin-top: 15px;
    .cardLabel {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.75);
    }
    .cardInputHolder {
      width: 100%;
      border: 0.05rem solid #999999 !important;
      padding: 10px;
      border-radius: 7px;
    }
  }
  .signupFormButton {
    margin-top: 25px;
    width: 100%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
  }
}
