@import '../../styles/mixins';

.testimonialContainer {
  padding: 0px 50px;
  margin-top: 130px;
  padding-bottom: 50px;
  @include moreThanMobile() {
    display: flex;
    flex-direction: column;
  }
  @include moreThanTablet() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 50px;
    padding-bottom: 50px;
  }
  @include moreThanDesktop() {
    flex-direction: row;
  }
}
