@import '../../../styles/variables';

.buttonContainer {
  button {
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    &:hover {
      background-color: #777;
    }
  }
}

.childDashboard {
  button {
    display: flex;
    align-self: center;
    background-color: rgb(244, 154, 0);
    border: 0 none;
    border-radius: 7px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    // width: 50%;
    &:hover {
      background-color: rgb(145, 73, 112);
    }
  }
}
