@import '../../styles/mixins';

.testimonial {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 52px 30px 56px;
  border-radius: 8px;
  box-shadow: 0 25px 45px rgb(22 52 61 / 15%);
  margin-top: 50px;
  @include moreThanMobile() {
    min-width: 350px;
  }
  @include moreThanTablet() {
    min-width: 350px;
    margin-top: unset;
    box-shadow: 0 25px 25px rgb(22 52 61 / 15%);
  }
  .testimonialQuote {
    position: absolute;
    top: -30px;
    left: 10px;
  }
  .testimonialParagraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    @include moreThan4k() {
      font-size: 22px;
      line-height: 32px;
    }
  }
  .testimonialName {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    position: relative;
    z-index: 1;
    margin-top: 45px !important;
    @include moreThan4k() {
      font-size: 20px;
      line-height: 28px;
    }
    &::before {
      content: '';
      height: 1px;
      width: 30px;
      background-color: #231c4c;
      position: absolute;
      left: 0;
      top: 14px;
    }
  }
}
