@import '../../styles/mixins';

.qoute {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 52px 30px 56px;
  border-radius: 8px;
  box-shadow: 0 25px 45px rgb(22 52 61 / 15%);
  margin-top: 50px;
  @include moreThanMobile() {
    min-width: 350px;
  }
  @include moreThanTablet() {
    min-width: 350px;
    margin-top: unset;
    box-shadow: 0 25px 25px rgb(22 52 61 / 15%);
  }
  .quoteImage {
    position: absolute;
    top: -30px;
    left: 10px;
  }
  .qouteText {
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.75);
  }
}
