@import '../../styles/mixins';

.bannerContainer {
  position: relative;
  padding: 10px 20px;
  margin-top: 25px;
  @include moreThanMobile() {
    margin-top: 15px;
    padding: 5px 10px;
  }
  @include moreThanTablet() {
    margin-top: unset;
    padding: unset;
  }
  // .bannerImage {
  //   // display: none;
  //   // @include moreThanMobile() {
  //   //   display: unset;
  //   //   position: absolute;
  //   //   z-index: -2;
  //   //   width: 98%;
  //   //   bottom: 0;
  //   // }
  //   // @include moreThanTablet() {
  //   position: unset;
  //   width: 100%;
  //   height: auto;
  //   display: unset;
  //   // }
  // }
  .bannerButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    .bannerSignupButton {
      // display: block;
      // margin: 0 auto;
      width: 100%;
      height: 36px;
      border-radius: 7px;
      font-size: 16px;
      background: #ff914d !important;
      border-color: #ff914d !important;
      &:hover {
        background: #3a4b5c !important;
      }
      @include moreThanMobile() {
        width: 100%;
        height: 48px;
        font-size: 26px;
      }
      @include moreThanTablet() {
        width: 100%;
        height: 48px;
        font-size: 26px;
      }
      @include moreThan4k() {
        height: 56px;
        font-size: 30px;
      }
    }
  }
  // .bannerContent {
  //   @include moreThanTablet() {
  //     position: absolute;
  //     top: 30%;
  //     left: 50%;
  //     transform: translate(-50%, -30%);
  //     justify-content: space-around;
  //     display: flex;
  //     width: 100%;
  //     height: 100%;
  //   }

  //   .bannerContentText {
  //     flex: 3;
  //     margin-left: 5px;
  //     @include moreThanMobile() {
  //       margin-left: 55px;
  //     }
  //     .bannerContentTextHeading {
  //       padding-left: 15px;
  //       font-size: 28px;
  //       margin-top: 10px;
  //       font-weight: 500;
  //       line-height: 1.14;
  //       color: #231c4c;
  //       padding-bottom: 5px;
  //       @include moreThanMobile() {
  //         line-height: 44px;
  //         font-size: 40px;
  //         margin-top: unset;
  //       }
  //     }
  //     .bannerContentTextHeading2 {
  //       padding-left: 15px;
  //       font-size: 24px;
  //       margin-top: 5px;
  //       font-weight: 500;
  //       line-height: 1.14;
  //       color: #231c4c;
  //       padding-bottom: 5px;
  //       @include moreThanMobile() {
  //         line-height: 38px;
  //         font-size: 30px;
  //         margin-bottom: 5px;
  //         margin-top: unset;
  //       }
  //     }
  //     .bannerSignupButton {
  //       display: block;
  //       margin: 0 auto;
  //       width: 80%;
  //       height: 42px;
  //       border-radius: 7px;
  //       font-size: 16px;
  //       background: #495f74 !important;
  //       border-color: #495f74 !important;
  //       &:hover {
  //         background: #3a4b5c !important;
  //       }
  //       @include moreThanMobile() {
  //         width: 50%;
  //       }
  //       @include moreThanTablet() {
  //         width: 30%;
  //       }
  //     }
  //   }
  //   .bannerContentTextDescription {
  //     margin-top: 10px;
  //     padding-left: 15px;
  //     font-weight: normal;
  //     font-size: 18px;
  //     line-height: 22px;
  //     color: rgba(35, 28, 76, 0.75);
  //     padding-right: 50px;
  //   }
  // }
  // .bannerContentImage {
  //   flex: 1;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   @include moreThanMobile() {
  //     display: flex;
  //     margin-left: 15px;
  //     width: 100%;
  //     justify-content: center;
  //     align-items: center;
  //   }
  //   @include moreThanTablet() {
  //     top: 20%;
  //     left: 75%;
  //     transform: translateX(-10%);
  //     width: 450px;
  //     position: absolute;
  //     margin-left: unset;
  //     margin-right: 110px;
  //   }
  // }
}
