@import '../../styles/mixins';

.features {
  padding: 10px 20px;
  margin-top: 45px;
  @include moreThanMobile() {
    margin-top: 25px;
    padding: 50px 70px;
  }
  @include moreThanTablet() {
    margin-top: unset;
    padding: 70px 90px;
  }
  .featuresHeadingContainer {
    display: flex;
    justify-content: center;
  }
  .featuresHeadingText {
    margin-left: 15px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.14;
    color: #231c4c;
    @include moreThanMobile() {
      line-height: 63px;
      font-size: 48px;
      margin-top: unset;
      text-align: center;
    }
    @include moreThanTablet() {
      line-height: 63px;
      font-size: 48px;
      margin-top: unset;
      max-width: 1100px;
    }
  }
  .bannerContentTextDescription {
    margin-bottom: 45px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: rgba(35, 28, 76, 0.75);
    padding-right: 50px;
  }
  .signupFormButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 50%;
    }
    @include moreThanTablet() {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 25%;
    }
    @include moreThan4k() {
      height: 56px;
      font-size: 30px;
    }
  }
}
