@import '../../styles/mixins';

.learnatricSection {
  z-index: 1;
  overflow: hidden;
  margin-bottom: 60px;
  .bannerButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    .bannerSignupButton {
      // display: block;
      // margin: 0 auto;
      width: 100%;
      height: 36px;
      border-radius: 7px;
      font-size: 16px;
      background: #ff914d !important;
      border-color: #ff914d !important;
      &:hover {
        background: #3a4b5c !important;
      }
      @include moreThanMobile() {
        width: 100%;
        height: 48px;
        font-size: 26px;
      }
      @include moreThanTablet() {
        width: 100%;
        height: 48px;
        font-size: 26px;
      }
      @include moreThan4k() {
        height: 56px;
        font-size: 30px;
      }
    }
  }
  .learnatricMainContent {
    margin-bottom: 5px;
    padding: 50px 20px 50px 20px;
    @include moreThanMobile() {
      padding: 50px 70px 0px 70px;
    }
    @include moreThanTablet() {
      display: flex;
      align-items: flex-start;
      padding: 40px 90px 100px 90px;
    }
    .learnatricHeading {
      margin-left: 15px;
      font-size: 32px;
      margin-top: 30px;
      font-weight: 500;
      line-height: 1.14;
      color: #231c4c;
      @include moreThanMobile() {
        line-height: 63px;
        font-size: 48px;
        margin-top: unset;
        text-align: center;
      }
      @include moreThanTablet() {
        margin: 0 auto;
        line-height: 63px;
        font-size: 48px;
        margin-top: unset;
        max-width: 1100px;
      }
    }
  }
}

.testimonialContainer {
  padding: 0px 50px;
  margin-top: 50px;
  padding-bottom: 50px;
  @include moreThanTablet() {
    display: flex;
    flex-direction: column;
    margin-top: unset;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 50px;
    padding-bottom: 50px;
  }
  @include moreThanDesktop() {
    flex-direction: row;
  }
}
