@import '../../styles/mixins';

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  @include moreThanMobile() {
    margin-bottom: 30px;
  }
  .socialHeading {
    margin-bottom: 0;
    font-size: 28px;
    text-align: center;
    color: #231c4c;
    @include moreThanMobile() {
      font-size: 48px;
    }
  }
  .socialSubHeading {
    margin-top: 0 !important;
    font-size: 20px;
    text-align: center;
    @include moreThanMobile() {
      font-size: 40px;
    }
  }
  .socialIcons {
    display: flex;
    gap: 10px;
    @include moreThanMobile() {
      gap: 60px;
    }
    a {
      img {
        width: 32px;
        height: 32px;
        @include moreThanMobile() {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}
