@import '../../styles/mixins';

.questionOuterContainer {
  display: grid;
  grid-template-columns: auto 700px auto;
}

.questionInnerContainer {
  grid-column: 2/3;
}

.antBtn {
  height: 3.5rem;
  float: right;
  width: 7.5rem;
  margin: 2rem;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
}

.containerheight {
  background-image: url('/img/child-dashboard/background-blur.png');
  background-size: cover;
}

.inputNumber {
  display: block;
  margin: auto;
  height: 3rem;
  width: 12rem;
  border-radius: 12px;
}
.nextPopup {
  text-align: center;
  line-height: normal;
}

.questionType {
  margin-top: 2em;
  width: 30vw;
  border-radius: 20px;
  box-shadow: 10px 10px 6px 1px #777;
}

.valueButton {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 5rem;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.valueButton:hover {
  cursor: pointer;
}

.inputNumberType {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  margin: 0px;
  width: 5rem;
  height: 3rem;
}
.customReactPlayerIDo {
  background-color: rgb(191 191 191 / 86%);
  padding: 15px;
  width: 80%;
  border-radius: 30px 30px 0px 0px;
  display: block;
  margin: 0 auto;
}
.playBarContainer {
  height: 60px;
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: rgb(122 121 121 / 86%);
  border-radius: 0px 0px 30px 30px;
  // text-align: center;
}
.playBarContainerButton {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  .playBarContainerButtonIcon {
    font-size: 40px;
  }
}

.customReactPlayer.customReactPlayerActivity {
  div[data-vimeo-initialized='true'] {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    padding-top: 54.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    @include moreThanMobile() {
      width: 100% !important;
      padding-top: 54.25%;
    }
    @include moreThanTablet() {
      width: 100% !important;
      padding-top: 30.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.customReactPlayer {
  div[data-vimeo-initialized='true'] {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    padding-top: 54.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    @include moreThanMobile() {
      width: 100% !important;
      padding-top: 54.25%;
    }
    @include moreThanTablet() {
      width: 100% !important;
      padding-top: 38.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.lessonActivityButtonContainer {
  padding-bottom: 25px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include moreThanDesktop() {
    padding: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .lessonActivityButton {
    padding-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .lessonActivityButtonText {
      position: absolute;
      display :flex;
      align-items: center;
      font-size: 25px;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #ff5200;
    }
  }
}

.lessonsActivityButtonContainer {
  padding-bottom: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .lessonsActivityButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include moreThan4k() {
      img {
        width: 330px;
      }
    }
    .lessonsActivityButtonText {
      position: absolute;
      font-size: 25px;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #ff5200;
      @include moreThan4k() {
        font-size: 34px;
      }
    }
  }
}

.modalTicCrossImage {
  position: absolute;
  right: -25px;
  top: -25px;
}
.antModalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
  font-family: 'WonderB', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.modalButtonContainer {
  .modalButton {
    left: -50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .modalButtonText {
      position: absolute;
      font-size: 25px;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #ff5200;
    }
  }
}
.numberPadBgContainer {
  background-color: rgb(191 191 191 / 86%);
  padding: 15px;
  width: 70%;
  border-radius: 30px 30px 0px 0px;
  display: block;
  margin: 0 auto;
}
.playBarContainerWeDo {
  height: 60px;
  display: block;
  margin: 0 auto;
  width: 70%;
  background-color: rgb(122 121 121 / 86%);
  border-radius: 0px 0px 30px 30px;
  // text-align: center;
}

.numberPadHeadingText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  .padHeadingText {
    font-family: 'WonderB', 'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 34px;
  }
}

.lessonActivityNumberPad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  width: auto;
}

.multipleQuestionButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  .multipleQuestionButton {
    margin-top: 25px;
    width: 50%;
    @include moreThanMobile() {
      width: 30%;
    }
    @include moreThanTablet() {
      width: 20%;
    }
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
  }
}

.multipleChoiceHeadingText {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  .headingText {
    font-size: 19px;
    @include moreThanMobile() {
      font-size: 24px;
    }
    @include moreThanTablet() {
      font-size: 28px;
    }
  }
}
.slideContainer {
  animation-name: fadeIn;
  animation-duration: 2s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
