@import '../../styles/mixins';

.questionBgContainer {
  background-color: rgb(191 191 191 / 86%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .questionHeadingText {
    padding: 0px 20px 0px 20px;
    padding-top: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .headingText {
      font-family: 'WonderB', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 22px;
      @include moreThanMobile() {
        font-size: 24px;
      }
      @include moreThanTablet() {
        font-size: 34px;
      }
    }
  }
}

.questionCotainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  // height: 800px !important;
  // height: auto;
  min-height: calc(100vh - 600px);
  max-height: calc(100vh - 600px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  // padding: 20px;
  .questionIframe {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    padding-top: 54.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    @include moreThanMobile() {
      width: 100% !important;
      padding-top: 54.25%;
    }
    @include moreThanTablet() {
      width: 80% !important;
      padding-top: 38.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.mainQuestionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .questionAudioPlayer {
    display: flex;
    justify-content: center;
    // Audio Player Styles
    div[aria-label='Audio Player'] {
      border-radius: 0px 0px 30px 30px;
      background-color: #7a7979;
      padding: 8px 20px 5px 20px;
      // Changing Time Styles
      div[class='rhap_time rhap_current-time'] {
        color: #fff;
      }
      div[class='rhap_time rhap_total-time'] {
        color: #fff;
      }
      // Changing Progress Bar Styles
      div[class='rhap_progress-indicator'] {
        background: #fff;
      }
      div[class='rhap_progress-filled'] {
        background: #fff;
      }
      div[class='rhap_download-progress'] {
        background: #b0afaf;
      }
      // Changing Repeat Button Styles
      button[class='rhap_button-clear rhap_repeat-button'] {
        color: #fff;
      }
      // Changing Play Button Styles
      button[class='rhap_button-clear rhap_main-controls-button rhap_play-pause-button'] {
        color: #fff;
      }
      // Changing Volume Styles
      div[class='rhap_volume-indicator'] {
        background: #fff;
      }
      button[class='rhap_button-clear rhap_volume-button'] {
        color: #fff;
      }
      div[class='rhap_volume-bar'] {
        background: #fff;
      }
    }
  }
}
.questionButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  .questionButton {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .questionButtonText {
      position: absolute;
      font-size: 25px;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #ff5200;
    }
  }
}
