@import 'styles/mixins';

.childDashboardHomeContainer {
  background-color: #e5e5dc;
  display: flex;
  min-height: calc(100vh - 75px);
  @include moreThanMobile() {
    flex-direction: column;
    min-height: calc(100vh - 93px);
  }
  @include moreThanTablet() {
    flex-direction: row;
    justify-content: space-between;
  }
  .childDashboardHomeImageTablet {
    display: none;
    @include moreThanMobile() {
      width: 350px;
      display: block;
      margin: 0 auto;
      display: unset;
    }
    @include moreThanTablet() {
      display: none;
    }
  }
  display: flex;
  .childDashboardHomeContent {
    margin-bottom: 10px;
    padding-top: 45px;
    margin-left: 15px;
    @include moreThanMobile() {
      padding-top: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include moreThanTablet() {
      display: unset;
      padding-top: 130px;
      padding-left: 100px;
    }

    .contentHeading {
      font-size: 36px;
      @include moreThanMobile() {
        font-size: 48px;
      }
    }
    .contentText {
      font-size: 20px;
      margin-bottom: 25px;
      color: rgba(35, 28, 76, 0.75);
    }
    .homeButton {
      width: 250px;
      height: 55px;
      border-radius: 7px;
      font-size: 16px;
      background: #e66a2c !important;
      border-color: #e66a2c !important;
      &:hover {
        background: #e66321 !important;
      }
    }
  }
  .childDashboardHomeImage {
    display: none;
    @include moreThanTablet() {
      display: unset;
      padding-right: 40px;
      margin-top: 45px;
    }
  }
}
