@import 'styles/mixins';

.childDashboardContainer {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 94px);
  .childDashboardTrackImage {
    position: absolute;
    @include moreThanMobile() {
      width: 768px;
      bottom: 130px;
      left: -40px;
    }
    @include moreThanTablet() {
      width: unset;
      bottom: 30px;
      left: -40px;
    }
    @include moreThanDesktop() {
      bottom: -4px;
      left: -100px;
    }
    @include moreThanDesktop1440() {
      bottom: 18px;
      left: -90px;
    }
    @include moreThanDesktop1600() {
      bottom: -65px;
      left: -100px;
    }
    @include moreThanDesktop1920() {
      bottom: -60px;
      left: 200px;
    }
    @include moreThan4k() {
      width: 2200px;
      bottom: -100px;
      left: 50px;
    }
  }
  .childDashboardChildImage {
    position: absolute;
    bottom: 200px;
    left: 48%;
    transform: translateX(-48%);
    height: 240px;
    width: 100px;
    @include moreThanMobile() {
      bottom: 250px;
    }
    @include moreThanTablet() {
      bottom: 30%;
    }
    @include moreThanTabletIpadPro() {
      bottom: 250px;
      height: 400px;
      width: 180px;
    }
    @include moreThanDesktop() {
      bottom: 24%;
      width: 100px;
      height: 200px;
    }
    @include moreThanDesktop1440() {
      bottom: 180px;
      width: 150px;
      height: 300px;
    }
    @include moreThanDesktop1600() {
      bottom: 120px;
      width: 150px;
      height: 320px;
    }
    @include moreThanDesktop1920() {
      bottom: 140px;
      height: 400px;
      width: 160px;
    }
    @include moreThan4k() {
      bottom: 180px;
      height: 600px;
      width: 220px;
    }
  }
  .childDashboardTrainImageContainer {
    position: absolute;
    @include moreThanMobile() {
      img {
        width: 70px;
      }
      bottom: 168px;
      left: 70px;
    }
    @include moreThanTablet() {
      img {
        width: 100px;
      }
      bottom: 80px;
      left: 100px;
    }
    @include moreThanDesktop() {
      img {
        width: 120px;
      }
      bottom: 65px;
      left: 90px;
    }
    @include moreThanDesktop1440() {
      img {
        width: unset;
      }
      bottom: 88px;
      left: 100px;
    }
    @include moreThanDesktop1600() {
      bottom: 11px;
      left: 120px;
    }
    @include moreThanDesktop1920() {
      bottom: 15px;
      left: 420px;
    }
    @include moreThan4k() {
      img {
        width: 160px;
      }
      bottom: 18px;
      left: 400px;
    }

    .childDashboardTrainImageText {
      position: absolute;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      color: #fff;
      @include moreThanMobile() {
        font-size: 19px;
        bottom: 18px;
        left: 14px;
      }
      @include moreThanTablet() {
        font-size: 22px;
        bottom: 31px;
        left: 21px;
      }
      @include moreThanDesktop() {
        font-size: 25px;
        bottom: 38px;
        left: 25px;
      }
      @include moreThanDesktop1440() {
        font-size: 25px;
        bottom: 46px;
        left: 29px;
      }

      @include moreThanDesktop1600() {
        font-size: 25px;
        bottom: 45px;
        left: 30px;
      }
      @include moreThan4k() {
        font-size: 32px;
        bottom: 52px;
        left: 35px;
      }
    }
  }
  .childDashboardTrainImageContainer[wobble='0'] {
    @include moreThanMobile() {
      bottom: 168px;
      left: 70px;
    }
    @include moreThanTablet() {
      bottom: 80px;
      left: 100px;
    }
    @include moreThanDesktop() {
      bottom: 65px;
      left: 90px;
    }
    @include moreThanDesktop1440() {
      bottom: 88px;
      left: 100px;
    }
    @include moreThanDesktop1600() {
      bottom: 11px;
      left: 120px;
    }
    @include moreThanDesktop1920() {
      bottom: 15px;
      left: 420px;
    }
    @include moreThan4k() {
      bottom: 18px;
      left: 400px;
    }
  }

  .childDashboardTrainImageContainer[wobble='1'] {
    @include moreThanMobile() {
      animation-name: wobble768_2;
      bottom: 169px;
      left: 152px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_2;
      bottom: 82px;
      left: 212px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_2;
      bottom: 68px;
      left: 235px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble1;
      bottom: 90px;
      left: 270px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_2;
      bottom: 13px;
      left: 275px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_2;
      bottom: 18px;
      left: 570px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_2;
      bottom: 21px;
      left: 620px;
      animation-duration: 3s;
    }
  }
  .childDashboardTrainImageContainer[wobble='2'] {
    @include moreThanMobile() {
      animation-name: wobble768_3;
      bottom: 171px;
      left: 232px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_3;
      bottom: 84px;
      left: 315px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_3;
      bottom: 70px;
      left: 375px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble2;
      bottom: 93px;
      left: 430px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_3;
      bottom: 15px;
      left: 425px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_3;
      bottom: 20px;
      left: 730px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_3;
      bottom: 23px;
      left: 850px;
      animation-duration: 3s;
    }
  }
  .childDashboardTrainImageContainer[wobble='3'] {
    @include moreThanMobile() {
      animation-name: wobble768_4;
      bottom: 173px;
      left: 305px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_4;
      bottom: 86px;
      left: 420px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_4;
      bottom: 72px;
      left: 515px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble3;
      bottom: 95px;
      left: 560px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_4;
      bottom: 17px;
      left: 578px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_4;
      bottom: 25px;
      left: 880px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_4;
      bottom: 28px;
      left: 1070px;
      animation-duration: 3s;
    }
  }
  .childDashboardTrainImageContainer[wobble='4'] {
    @include moreThanMobile() {
      animation-name: wobble768_5;
      bottom: 174px;
      left: 385px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_5;
      bottom: 88px;
      left: 520px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_5;
      bottom: 75px;
      left: 655px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble4;
      bottom: 98px;
      left: 700px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_5;
      bottom: 20px;
      left: 725px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_5;
      bottom: 28px;
      left: 1020px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_5;
      bottom: 31px;
      left: 1290px;
      animation-duration: 3s;
    }
  }
  .childDashboardTrainImageContainer[wobble='5'] {
    @include moreThanMobile() {
      animation-name: wobble768_6;
      bottom: 175px;
      left: 465px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_6;
      bottom: 90px;
      left: 630px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_6;
      bottom: 77px;
      left: 800px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble5;
      bottom: 102px;
      left: 855px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_6;
      bottom: 23px;
      left: 884px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_6;
      bottom: 28px;
      left: 1180px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_6;
      bottom: 35px;
      left: 1520px;
      animation-duration: 3s;
    }
  }

  .childDashboardTrainImageContainer[wobble='6'] {
    @include moreThanMobile() {
      animation-name: wobble768_7;
      bottom: 176px;
      left: 530px;
      animation-duration: 1.5s;
    }
    @include moreThanTablet() {
      animation-name: wobble1024_7;
      bottom: 91px;
      left: 719px;
      animation-duration: 2s;
    }
    @include moreThanDesktop() {
      animation-name: wobble1366_7;
      bottom: 79px;
      left: 920px;
      animation-duration: 2s;
    }
    @include moreThanDesktop1440() {
      animation-name: wobble6;
      bottom: 103px;
      left: 970px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1600() {
      animation-name: wobble1600_7;
      bottom: 25px;
      left: 1015px;
      animation-duration: 3s;
    }
    @include moreThanDesktop1920() {
      animation-name: wobble1920_7;
      bottom: 30px;
      left: 1300px;
      animation-duration: 3s;
    }
    @include moreThan4k() {
      animation-name: wobble4k_7;
      bottom: 39px;
      left: 1720px;
      animation-duration: 3s;
    }
  }

  //keyframes for 768 x 1024
  // for station 2
  @keyframes wobble768_2 {
    0% {
      bottom: 168px;
      left: 70px;
    }
    100% {
      bottom: 169px;
      left: 152px;
    }
  }

  //for station 3
  @keyframes wobble768_3 {
    0% {
      bottom: 169px;
      left: 152px;
    }
    100% {
      bottom: 171px;
      left: 232px;
    }
  }

  //for station 4
  @keyframes wobble768_4 {
    0% {
      bottom: 171px;
      left: 232px;
    }
    100% {
      bottom: 173px;
      left: 305px;
    }
  }

  //for station 5
  @keyframes wobble768_5 {
    0% {
      bottom: 173px;
      left: 305px;
    }
    100% {
      bottom: 174px;
      left: 385px;
    }
  }

  //for station 6
  @keyframes wobble768_6 {
    0% {
      bottom: 174px;
      left: 385px;
    }
    100% {
      bottom: 175px;
      left: 465px;
    }
  }

  //for station 7
  @keyframes wobble768_7 {
    0% {
      bottom: 175px;
      left: 465px;
    }
    100% {
      bottom: 176px;
      left: 530px;
    }
  }

  //keyframes for 1024 x 768
  //for station 2
  @keyframes wobble1024_2 {
    0% {
      bottom: 80px;
      left: 100px;
    }
    100% {
      bottom: 82px;
      left: 212px;
    }
  }

  //for station 3
  @keyframes wobble1024_3 {
    0% {
      bottom: 82px;
      left: 212px;
    }
    100% {
      bottom: 84px;
      left: 315px;
    }
  }

  //for station 4
  @keyframes wobble1024_4 {
    0% {
      bottom: 84px;
      left: 315px;
    }
    100% {
      bottom: 86px;
      left: 420px;
    }
  }

  //for station 5
  @keyframes wobble1024_5 {
    0% {
      bottom: 86px;
      left: 420px;
    }
    100% {
      bottom: 88px;
      left: 520px;
    }
  }

  //for station 6
  @keyframes wobble1024_6 {
    0% {
      bottom: 88px;
      left: 520px;
    }
    100% {
      bottom: 90px;
      left: 630px;
    }
  }

  //for station 7
  @keyframes wobble1024_7 {
    0% {
      bottom: 90px;
      left: 630px;
    }
    100% {
      bottom: 91px;
      left: 719px;
    }
  }

  // keyframes for 1366 x 768
  // for station 2
  @keyframes wobble1366_2 {
    0% {
      bottom: 65px;
      left: 90px;
    }
    100% {
      bottom: 68px;
      left: 235px;
    }
  }

  //for station 3
  @keyframes wobble1366_3 {
    0% {
      bottom: 68px;
      left: 235px;
    }
    100% {
      bottom: 70px;
      left: 375px;
    }
  }

  //for srtation 4
  @keyframes wobble1366_4 {
    0% {
      bottom: 70px;
      left: 375px;
    }
    100% {
      bottom: 72px;
      left: 515px;
    }
  }
  // for stati0n 5
  @keyframes wobble1366_5 {
    0% {
      bottom: 72px;
      left: 515px;
    }
    100% {
      bottom: 75px;
      left: 655px;
    }
  }

  //for station 6
  @keyframes wobble1366_6 {
    0% {
      bottom: 75px;
      left: 655px;
    }
    100% {
      bottom: 77px;
      left: 800px;
    }
  }

  //for station 7
  @keyframes wobble1366_7 {
    0% {
      bottom: 77px;
      left: 800px;
    }
    100% {
      bottom: 79px;
      left: 920px;
    }
  }

  // keyframes for 1440x900
  // for station 1
  @keyframes wobble1 {
    0% {
      bottom: 88px;
      left: 100px;
    }
    100% {
      bottom: 90px;
      left: 270px;
    }
  }

  // for station 2
  @keyframes wobble2 {
    0% {
      bottom: 90px;
      left: 270px;
    }
    100% {
      bottom: 93px;
      left: 430px;
    }
  }

  // for station 3
  @keyframes wobble3 {
    0% {
      bottom: 94px;
      left: 430px;
    }
    100% {
      bottom: 95px;
      left: 560px;
    }
  }

  // for station 4
  @keyframes wobble4 {
    0% {
      bottom: 95px;
      left: 560px;
    }
    100% {
      bottom: 98px;
      left: 700px;
    }
  }
  // for station 5
  @keyframes wobble5 {
    0% {
      bottom: 98px;
      left: 700px;
    }
    100% {
      bottom: 102px;
      left: 855px;
    }
  }

  // for station 6
  @keyframes wobble6 {
    0% {
      bottom: 102px;
      left: 855px;
    }
    100% {
      bottom: 103px;
      left: 970px;
    }
  }

  //keyframes for 1600 x 900
  //for station 2
  @keyframes wobble1600_2 {
    0% {
      bottom: 11px;
      left: 120px;
    }
    100% {
      bottom: 13px;
      left: 275px;
    }
  }
  // for station 3
  @keyframes wobble1600_3 {
    0% {
      bottom: 13px;
      left: 275px;
    }
    100% {
      bottom: 15px;
      left: 425px;
    }
  }

  // for station 4
  @keyframes wobble1600_4 {
    0% {
      bottom: 15px;
      left: 425px;
    }
    100% {
      bottom: 17px;
      left: 578px;
    }
  }

  // for station 5
  @keyframes wobble1600_5 {
    0% {
      bottom: 17px;
      left: 578px;
    }
    100% {
      bottom: 20px;
      left: 725px;
    }
  }

  // for station 6
  @keyframes wobble1600_6 {
    0% {
      bottom: 20px;
      left: 725px;
    }
    100% {
      bottom: 23px;
      left: 884px;
    }
  }

  // for station 7
  @keyframes wobble1600_7 {
    0% {
      bottom: 23px;
      left: 884px;
    }
    100% {
      bottom: 25px;
      left: 1015px;
    }
  }

  // keyframes for 1920x1080
  //for staion 2
  @keyframes wobble1920_2 {
    0% {
      bottom: 15px;
      left: 420px;
    }
    100% {
      bottom: 18px;
      left: 570px;
    }
  }

  //for staion 3
  @keyframes wobble1920_3 {
    0% {
      bottom: 18px;
      left: 570px;
    }
    100% {
      bottom: 20px;
      left: 730px;
    }
  }

  //for staion 4
  @keyframes wobble1920_4 {
    0% {
      bottom: 20px;
      left: 730px;
    }
    100% {
      bottom: 25px;
      left: 880px;
    }
  }

  //for staion 5
  @keyframes wobble1920_5 {
    0% {
      bottom: 25px;
      left: 880px;
    }
    100% {
      bottom: 28px;
      left: 1020px;
    }
  }

  //for staion 6
  @keyframes wobble1920_6 {
    0% {
      bottom: 28px;
      left: 1020px;
    }
    100% {
      bottom: 30px;
      left: 1180px;
    }
  }

  //for staion 7
  @keyframes wobble1920_7 {
    0% {
      bottom: 30px;
      left: 1180px;
    }
    100% {
      bottom: 30px;
      left: 1300px;
    }
  }

  // keyframes 2560 x 1440
  // for station 2
  @keyframes wobble4k_2 {
    0% {
      bottom: 18px;
      left: 400px;
    }
    100% {
      bottom: 21px;
      left: 620px;
    }
  }

  // for station 3
  @keyframes wobble4k_3 {
    0% {
      bottom: 21px;
      left: 620px;
    }
    100% {
      bottom: 23px;
      left: 850px;
    }
  }

  // for station 4
  @keyframes wobble4k_4 {
    0% {
      bottom: 23px;
      left: 850px;
    }
    100% {
      bottom: 28px;
      left: 1070px;
    }
  }

  // for station 5
  @keyframes wobble4k_5 {
    0% {
      bottom: 28px;
      left: 1070px;
    }
    100% {
      bottom: 31px;
      left: 1290px;
    }
  }

  // for station 6
  @keyframes wobble4k_6 {
    0% {
      bottom: 31px;
      left: 1290px;
    }
    100% {
      bottom: 35px;
      left: 1520px;
    }
  }

  // for station 7
  @keyframes wobble4k_7 {
    0% {
      bottom: 35px;
      left: 1520px;
    }
    100% {
      bottom: 39px;
      left: 1720px;
    }
  }
  .childDashboardTitle {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(202, 220, 255);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 15px solid #fff;
    border-radius: 40px;
    @include moreThanMobile() {
      top: 10px;
    }
    @include moreThanTablet() {
      top: 2px;
    }
    @include moreThanDesktop() {
      top: 10px;
    }
    @include moreThanDesktop1600() {
      top: 5px;
    }
    @include moreThan4k() {
      top: 40px;
    }
    .childDashboardTitleText {
      font-size: 25px;
      font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      @include moreThanMobile() {
        font-size: 19px;
      }
      @include moreThanTablet() {
        font-size: 20px;
      }
      @include moreThanDesktop() {
        font-size: 22px;
      }
      @include moreThan4k() {
        font-size: 26px;
      }
    }
  }
  .childDashboardButtonContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @include moreThanMobile() {
      bottom: 5%;
    }
    @include moreThanTablet() {
      bottom: 10px;
    }
    @include moreThanDesktop() {
      bottom: 1px;
    }
    @include moreThanDesktop1440() {
      bottom: 1px;
    }
    @include moreThanDesktop1600() {
      bottom: 420px;
    }
    @include moreThanDesktop1920() {
      bottom: 550px;
    }
    @include moreThan4k() {
      bottom: 65%;
    }
    .childDashboardButton {
      @include moreThanMobile() {
        img {
          width: 240px;
        }
      }
      @include moreThanTablet() {
        img {
          width: 250px;
        }
      }
      @include moreThanDesktop() {
        img {
          width: 240px;
        }
        @include moreThanDesktop1440() {
          img {
            width: unset;
          }
        }
        @include moreThan4k() {
          img {
            width: 350px;
          }
        }
      }
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .childDashboardButtonText {
        position: absolute;
        font-size: 25px;
        display: flex;
        align-items: center;
        font-family: 'BrownStd Regular', 'Lucida Sans', 'Lucida Sans Regular',
          'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #ff5200;
        @include moreThanDesktop() {
          font-size: 23px;
        }
        @include moreThanDesktop1440() {
          font-size: 25px;
        }
        @include moreThan4k() {
          font-size: 28px;
        }
      }
    }
  }
}
