@import '../../styles/mixins';
.caseContainer {
  margin-top: 45px;
  .caseContainerHeading {
    text-align: center;
    font-size: 20px;
    color: rgba(35, 28, 76, 0.75);
    @include moreThanMobile() {
      font-size: 24px;
    }
    @include moreThanTablet() {
      font-size: 28px;
    }
  }
  .caseContainerBox {
    @include moreThanTablet() {
      display: flex;
      justify-content: center;
    }
    .caseContainerBoxInner {
      @include moreThanTablet() {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include moreThanMobile() {
          img {
            width: auto;
            height: auto;
          }
        }
      }
      .caseImage {
        display: block;
        margin: 0 auto;
        // max-width: 350px;
        // @include moreThanMobile() {
        //   width: 600px;
        //   height: auto;
        // }
      }
    }
    .caseText {
      padding: 5px 20px 5px 20px;
      font-size: 18px;
      color: rgba(35, 28, 76, 0.75);
      @include moreThanTablet() {
        padding: 0;
      }
    }
  }
}
