@import '../../styles/mixins';

.mathCurriculaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  .mathCurriculaContainerInner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    padding: 45px 25px;
    .textContainer {
      padding: 10px 15px;
      div[class='ant-typography'] {
        font-size: 14px;
      }
      @include moreThanMobile() {
        div[class='ant-typography'] {
          font-size: 22px;
        }
      }
      .textContainerheading {
        font-size: 22px;
        color: rgba(35, 28, 76, 0.75);
        @include moreThanMobile() {
          font-size: 24px;
        }
        @include moreThanTablet() {
          font-size: 36px;
        }
      }
      .textContainerContent {
        padding: 20px;
        font-size: 18px;
        color: rgba(35, 28, 76, 0.75);
        @include moreThanTablet() {
          padding: 0;
        }
        @include moreThan4k() {
          font-size: 28px;
        }
      }
    }
  }
}
