@import '../../styles/mixins';

.roboBox {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  .roboBoxInner {
    width: 100%;
    max-width: 1100px;
    padding: 45px 25px;
    background-color: #e3f3ff;
    .headingRobo {
      color: #03367b;
      margin-bottom: 10px;
      margin-top: 45px;
      font-size: 48px;
    }
    .videoRoboContainer {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      .videoRobo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
