@import '../../styles/mixins';

.dashboardSider {
  display: none;
  @include moreThanMobile() {
    display: unset;
  }
  .sideMenuText {
    // textAlign: 'center', marginTop: 15
    text-align: center;
    margin-top: 15px;
    font-size: 20px !important;
    font-family: 'WonderB', 'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
}
