// Forms
$border-light: 0.05rem solid #999999 !important;
$border-radius-base: 7px !important;
$border-radius-left: 7px 0 0 7px !important;
$border-radius-right: 0 7px 7px 0 !important;

$spacing-small: 8px;
$spacing-standard: 16px;
$spacing-large: 32px;
$spacing-huge: 48px;

$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 48px;
$margin-huge: 185px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1599px;

$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1600px;
