@import 'styles/mixins';

.blogContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  .blogWrapper {
    max-width: 1100px;
    .blogHeading {
      text-align: center;
      margin-left: 15px;
      font-size: 32px;
      margin-top: 30px;
      font-weight: 500;
      line-height: 1.14;
      color: #231c4c;
      @include moreThanMobile() {
        line-height: 63px;
        font-size: 48px;
        margin-top: unset;
        text-align: center;
      }
      @include moreThanTablet() {
        line-height: 63px;
        font-size: 50px;
        font-weight: 600;
        margin-top: unset;
        max-width: 1100px;
      }
    }
  }
}
