.learningPathWayBackground {
  position: relative;
  background-image: url(/img/acuario1.png);
  width: calc(100vw - 8em);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.lesson {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #b2100f;
  cursor: pointer;
  background: linear-gradient(
    to bottom right,
    rgb(160 6 6 / 80%),
    rgb(160 6 6 / 83%),
    rgb(160 6 6 / 85%),
    rgb(160, 6, 6) 60%
  );
  border: 2px solid rgba(179, 18, 18, 255);
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  // left: 0;
  // right: 0;
}

.lessonDescription {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(142, 214, 115, 255);
  bottom: -60px;
  left: 55px;
  border-radius: 26px;
  border: 4px solid rgba(58, 162, 37, 255);
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    left: -40px;
    border: 20px solid transparent;
    border-right-color: rgba(58, 162, 37, 255);
    top: 20px;
  }
}

.progressBarContainer {
  width: 50%;
  height: 50px;
  border-radius: 30px;
  background-color: #006bc4;
  border: 4px solid #aad2fb;
  position: fixed;
  bottom: 2rem;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .childAvatar {
    position: absolute;
    right: -4px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #f79d3e;
    z-index: 10;
  }
}
