@import './mixins';

.mathCurriculaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-left: auto;
  width: 100%;
  margin-top: 25px;
  @include moreThanMobile() {
    margin-top: 45px;
  }
  .textContainer {
    padding: 10px 15px;
    width: 100%;
    div[class='ant-typography'] {
      font-size: 14px;
    }
    @include moreThanMobile() {
      max-width: 1100px;
      div[class='ant-typography'] {
        font-size: 22px;
      }
    }
    .headers {
      width: 100%;
      display: flex;
      justify-content: center;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}