.congratulations {
  height: calc(100vh - 95px);
  display: flex;
  align-items: center;
  justify-content: center;
  .congratulationsWrapper {
    .congratulationsHeading {
      text-align: center;
      font-size: 50px;
    }
    .congratulationsDescription {
      text-align: center;
      font-size: 22px;
      margin-bottom: 0;
    }
    .congratulationsButton {
      margin-top: 25px;
      width: 100%;
      height: 42px;
      border-radius: 7px;
      font-size: 16px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        background: #3a4b5c !important;
      }
    }
  }
}
