@import 'mixins';

.recoveredAccountMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .recoveredCardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  }
  .recoveredCardBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .recoveredButtonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;

    .recoveredButton {
      margin-top: 15px;
      height: 44px;
      border-radius: 7px;
      font-size: 20px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        background: #3a4b5c !important;
      }
    }
  }
}
