@import 'mixins';

.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  .forgetCardTitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .forgetPasswordButtonContainer {
    display: flex;
    justify-content: end;

    .forgetPasswordButton {
      margin-top: 15px;
      height: 42px;
      border-radius: 7px;
      font-size: 14px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        background: #3a4b5c !important;
      }
    }
  }
}
