@import 'mixins';
@import 'variables';

@font-face {
  font-family: 'BrownStd Regular';
  font-style: normal;
  font-weight: normal;
  src: local('BrownStd Regular'),
    url('/fonts/BrownStdRegular.woff') format('woff');
}

@font-face {
  font-family: 'WonderB';
  font-style: normal;
  font-weight: normal;
  src: local('WonderB'), url('/fonts/WonderB.woff') format('woff');
}

@font-face {
  font-family: 'BrownStd Thin';
  font-style: normal;
  font-weight: normal;
  src: local('BrownStd Thin'), url('/fonts/BrownStdThin.woff') format('woff');
}

@font-face {
  font-family: 'BrownStd Light';
  font-style: normal;
  font-weight: normal;
  src: local('BrownStd Light'), url('/fonts/BrownStdLight.woff') format('woff');
}

@font-face {
  font-family: 'BrownStd Bold';
  font-style: normal;
  font-weight: normal;
  src: local('BrownStd Bold'), url('/fonts/BrownStdBold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BrownStd Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.child-navbar__dropdown-link {
  &:hover {
    color: unset;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Antd Styles

// Steps Styles
.step-panel__container {
  padding: 10px 5px;
  margin-top: 20px;
  // width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include moreThanMobile() {
    margin-left: unset;
    padding: 10px 50px;
    width: unset;
  }
  // margin: 0 auto;
  .ant-steps {
    // width: 100% !important;
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      background: #495f74 !important;
    }
    .ant-steps-item-process .ant-steps-item-icon {
      border-color: #495f74 !important;
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
      color: #495f74 !important;
    }
    .ant-steps-item-finish .ant-steps-item-icon {
      border-color: #495f74 !important;
    }
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #495f74 !important;
    }
  }
  .add-child__form-wrapper.add-child-profile__form-wrapper {
    margin-top: 10px;
  }
  .add-child__form-wrapper {
    margin-top: 30px;
    .add-child__form {
      // min-width: 375px;
      display: grid;
      @include moreThanMobile() {
        min-width: 500px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
      }
      .add-child__form-optional {
        grid-column: 1/-1;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .ant-btn.ant-btn-primary {
        margin-top: 25px;
        // width: 80%;
        @include moreThanMobile() {
          width: 100%;
        }
        height: 42px;
        border-radius: 7px;
        font-size: 16px;
        background: #495f74 !important;
        border-color: #495f74 !important;
        grid-column: 1/-1;
        &:hover {
          background: #3a4b5c !important;
        }
      }
    }
  }
}

// Signup Section
div.signup__radio {
  div.ant-radio-group.ant-radio-group-solid {
    display: flex;
    width: 100% !important;
    label.ant-radio-button-wrapper {
      font-weight: bold;
      font-size: 16px;
      height: 42px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      border: 0.05rem solid #999;
      border-radius: 7px;
      position: relative;
      &:hover {
        color: #495f74;
      }
      .antd-radio-additional-text {
        position: absolute;
        width: 138px;
        background: #2f2f2f;
        top: -23px;
        padding: 0px 10px;
        box-shadow: 2px 2px 5px #2f2f1fa3;
        border-radius: 7px;
        color: white !important;
        left: 65px;
        @include moreThanMobile() {
          left: unset;
        }
      }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      background-color: transparent;
    }

    label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        color: #fff;
        border-color: #495f74 !important;
      }
    }
  }
}

// Signup Page Statistics Styles
.signup__statistics {
  .ant-statistic {
    margin-top: 15px;
    .ant-statistic-title {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.75);
    }
    .ant-statistic-content {
      border: 0.05rem solid #999999 !important;
      padding: 10px;
      border-radius: 7px;
      font-size: 16px;
      .ant-statistic-content-value {
        .ant-statistic-content-value-int {
          font-size: 16px;
        }
        .ant-statistic-content-value-decimal {
          font-size: 16px;
        }
      }
    }
  }
}

// Parent Dashboard Global Styles
.parent-dashboard {
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #495f74;
    &:hover {
      background: #495f74;
    }
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #999999;
  }
}

// styles for Lesson Activity Radio Button
div.lesson-activity__radio {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  div.ant-radio-group.ant-radio-group-solid {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    @include moreThanMobile() {
      margin-left: 0px;
      // width: 85%;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    @include moreThanTablet() {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 85%;
    }
    @include moreThanDesktop() {
      // width: 65%;
    }
    @include moreThanDesktop1920() {
      // width: 68%;
    }

    label.ant-radio-button-wrapper {
      font-weight: bold;
      font-size: 16px;
      min-height: 40px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      background: transparent;
      border: 1px solid #707070;
      border-radius: 12px !important;
      @include moreThanMobile() {
        width: unset;
        display: inline-flex;
      }
      @include moreThanDesktop1920() {
        font-size: 18px;
      }
      // @include moreThanDesktop(){
      //   width: ;
      // }
      &:hover {
        color: #fff;
        background: #e66321 !important;
        border-color: #e66321;
        // height: 42px;
        font-size: 18px;
        @include moreThanDesktop1920() {
          font-size: 20px;
        }
      }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      background-color: transparent;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      width: 0;
    }

    label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
      background: #e66321 !important;
      border-color: #e66321 !important;
      &:hover {
        color: #fff;
        background: #e66321 !important;
      }
    }
  }
}

// childDashboard AntModal Container
.modal__container {
  margin-top: 45px;
  .ant-modal-content {
    width: 510px;
    background-color: #e4e4e4;
    border-radius: 7px;
    button[type='button'] {
      background: transparent !important;
      border-color: transparent !important;
      &:hover {
        background: transparent !important;
        border-color: transparent !important;
      }
    }
  }
}
//Modal Global Styles
.ant-modal-content {
  border-radius: 7px;
  button[type='button'] {
    color: white;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
  }
}
.ant-modal-close-x {
  display: none;
}
.ant-modal-title {
  font-size: 22px;
}

//set the iFrame for lesson activity
.p-10 {
  padding: 0% !important;
  padding-top: 25px !important;
}

//set the
.h-screen.lesson-activity {
  min-height: calc(100vh - 94px) !important;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//parentDashboard Card
.parent-card-meta .ant-card-meta-title {
  color: #495f74;
  text-align: center;
  font-size: 22px !important;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

.parent-card .ant-card-body {
  // border: 0.05rem solid #495f74 !important;
  // border-radius: 7px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4) !important;
  @include moreThanTablet() {
    min-height: 180px;
    padding: 10px;
  }
}
.parent-dashboard-static-card .ant-card-body {
  // border-radius: 7px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4) !important;
  // border: 0.05rem solid #495f74 !important;
}

.anticon .anticon-info-circle {
  display: none;
}

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  display: none;
}

button {
  span.anticon {
    color: #ffffff;
  }
}

// styles for intl-tel-input
.intl-tel-input.allow-dropdown .selected-flag {
  padding-top: 8px;
  padding-bottom: 4px;
}
.intl-tel-input.allow-dropdown input[type='tel'] {
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: $border-radius-base;
  border: $border-light;
  min-width: 337px;
  height: 42px;
  font-size: 16px;
  // &::placeholder {
  //   font-size: 16px;
  //   color: #5a5a5a;
  // }
  &:focus-visible {
    outline: none;
  }
  @include moreThanMobile() {
    min-width: 375px;
  }
  @include moreThanDesktop1920() {
    min-width: 460px;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 7px;
  }
  @include moreThan4k() {
    min-width: 620px;
    font-size: 20px;
  }
}

.flag-container {
  ul.country-list {
    width: 375px;
    font-size: 12px;
    @include moreThanDesktop1920() {
      font-size: 15px;
      min-width: 460px;
    }
    @include moreThan4k() {
      font-size: 20px;
      min-width: 620px;
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
