@import './mixins';

.ourLearningPlatformContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  @include moreThanMobile() {
    margin-top: 45px;
  }
  .textContainer {
    padding: 10px 15px;
    div[class='ant-typography'] {
      font-size: 14px;
    }
    @include moreThanMobile() {
      max-width: 1100px;
      div[class='ant-typography'] {
        font-size: 18px;
        line-height: 31px;
        color: rgba(35, 28, 76, 0.75);
      }
    }
  }
}
