@import 'mixins';

.parentDashboardContent {
  .parentlogoutButton {
    margin-top: 25px;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
    width: 100%;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
      width: 100%;
    }
  }
}
