@import '/styles/mixins';

.postContainer {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  @include moreThanTablet() {
    margin-top: 45;
    padding-left: 65px;
  }
  .postContainerWrapper {
    max-width: 900px;
    .postTitle {
      font-size: 20px;
      @include moreThanMobile() {
        font-size: 32px;
      }
    }
    .postImg {
      margin-top: 25px;
      img {
        border-radius: 7px;
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
    .postText {
      margin-top: 25px;
      div[class='ant-typography'] {
        font-size: 14px;
      }
      @include moreThanMobile() {
        margin-top: 45px;
        div[class='ant-typography'] {
          font-size: 22px !important;
        }
      }
    }
    .postQoutation {
      padding-top: 45px;
      margin-bottom: 20px;
    }
    .postVideo {
      margin-bottom: 20px;
    }
  }
}
