@import './mixins';

.avatar {
  height: 55px;
  width: 55px;

  @include moreThanMobile() {
    height: 100px;
    width: 100px;
  }
  position: relative;
  cursor: pointer;
  &::after {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    content: '';
    position: absolute;
    background: linear-gradient(
      to top,
      rgb(255 252 222 / 77%) 20%,
      rgb(255 252 222 / 20%) 40%,
      rgba(255, 255, 255, 0) 60%
    );
    object-fit: cover;
    vertical-align: middle;
    border: 2px solid rgba(255, 255, 255, 255);
    border-radius: 12px;

    @include moreThanMobile() {
      background: linear-gradient(
        to top,
        rgb(231 106 48 / 77%) 20%,
        rgb(231 106 48 / 20%) 40%,
        rgba(255, 255, 255, 0) 60%
      );
      border: 2px solid rgba(231, 106, 48, 255);
    }
  }
}

.gold {
  position: absolute;
  left: 40%;
  bottom: 15px;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.menuOptionContainer {
  height: 100px;
  position: relative;
  cursor: pointer;
  border: 2px solid rgba(231, 106, 48, 255);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
