@import 'mixins';

.signup {
  display: flex;
  justify-content: center;
  @include moreThanMobile() {
    // display: unset;
  }
  margin: 30px 30px 20px 30px;
  min-height: 60vh;
  .lottieAnimationContainer {
    display: none;
    @include moreThanMobile() {
      display: unset;
    }
  }
  .featuresListContainer {
    display: flex;
    justify-content: center;
    .featuresList {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      li {
        font-size: 20px;
      }
    }
  }
}
