@import '../../styles/mixins';

.billingCardsContainer {
  display: grid;
  @include moreThanMobile() {
  }
  @include moreThanTablet() {
  }
  .billingCards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    @include moreThanTablet() {
      grid-template-columns: 1fr 1fr;
    }
  }
}
