@import '/styles/mixins';

.editPasswordContainer {
  display: flex;
  flex-direction: column;

  .editPasswordTitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .editPasswordButton {
    margin-top: 15px;
    height: 42px;
    border-radius: 7px;
    font-size: 14px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
    }
  }
}
