@import 'styles/mixins';

.editChildContainer {
  display: flex;
  flex-direction: column;
  .editChildCardTitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .childAvatar {
    min-width: 250px;
    margin-bottom: 15px;
    img {
      width: 90px;
      height: 90px;
    }
  }
  .editChildtext {
    margin-bottom: 15px;
  }
  .editChildButton {
    height: 42px;
    border-radius: 7px;
    font-size: 14px;
    background: #495f74 !important;
    border-color: #495f74 !important;
    &:hover {
      background: #3a4b5c !important;
    }
    @include moreThanMobile() {
    }
  }
}
