@import '/styles/mixins';

.accountSettingMainContainer {
  display: grid;
  gap: 20px;
  .cardInputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 15px;
    }

    @include moreThanMobile() {
      margin-top: 15px;
      flex-direction: row;
    }
    .accountDetailsHeading {
      min-width: 250px;
    }

    .accountButton {
      height: 30px;
      border-radius: 7px;
      font-size: 14px;
      background: #495f74 !important;
      border-color: #495f74 !important;
      &:hover {
        background: #3a4b5c !important;
      }
      @include moreThanMobile() {
        margin-left: 15px;
        display: unset;
      }
    }
  }
  .childInfoContainer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    @include moreThanTablet() {
      align-items: center;
      flex-direction: row;
    }

    .childAvatar {
      min-width: 250px;
      margin-bottom: 15px;
      img {
        width: 90px;
        height: 90px;
      }
    }
    .childInfoMessage {
      display: flex;
      flex-direction: column;
      @include moreThanTablet() {
        flex-direction: row;
      }
      .childInfoHeading {
        min-width: 250px;
      }
      .childButton {
        height: 30px;
        border-radius: 7px;
        font-size: 14px;
        background: #495f74 !important;
        border-color: #495f74 !important;
        &:hover {
          background: #3a4b5c !important;
        }
        @include moreThanMobile() {
        }
      }
    }
  }
}
