@import '../../styles/mixins';
.keypad {
  margin: 0px;
}

.keypadWrapperBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include moreThanTablet() {
    gap: 10px;
  }
  @include moreThanDesktop1440() {
    gap: 20px;
  }
}
.keypad tr td {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #c9c9c9;
  color: #000000;
  width: 55px;
  height: 44px;
  @include moreThanTablet() {
    width: 55px;
    height: 44px;
  }
  @include moreThanDesktop1440() {
    width: 65px;
    height: 50px;
  }
}
.keypad tr td:hover {
  background-color: #e66a2c;
  color: #ffff;
  @include moreThanDesktop() {
    font-size: 20px;
  }
  // height: 52px;
  // width: 67px;
}
.keypad tr {
  display: flex;
  gap: 10px;

  @include moreThanTablet() {
    gap: 10px;
  }
  @include moreThanDesktop1440() {
    gap: 20px;
  }
}

.display {
  width: 130px;
  margin: 10px auto auto auto;
}
.keypadWrapper {
  // width: 100%;
}
