@import 'styles/mixins';

.childDashboardBoyToySoldier {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 45px;
    }
    bottom: 52%;
    left: 26%;
  }
  @include moreThanTablet() {
    img {
      width: 40px;
    }
    bottom: 55%;
    left: 13%;
  }
  // @include moreThanTabletIpadPro() {
  //   bottom: 51%;
  //   left: 30%;
  // }
  @include moreThanDesktop() {
    img {
      width: 50px;
    }
    bottom: 54%;
    left: 15%;
  }
  @include moreThanDesktop1440() {
    bottom: 53%;
    left: 215px;
  }
  @include moreThanDesktop1600() {
    bottom: 52%;
    left: 210px;
  }
  @include moreThanDesktop1920() {
    bottom: 51%;
    left: 285px;
  }
  @include moreThan4k() {
    img {
      width: 80px;
    }
    bottom: 50%;
    left: 14%;
  }
}
.childDashboardBoyToySpy {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 52%;
    left: 32%;
  }
  @include moreThanTablet() {
    bottom: 47%;
    left: 63%;
  }
  // @include moreThanTabletIpadPro() {
  //   img {
  //     width: 70px;
  //   }
  //   top: 800px;
  // }
  @include moreThanDesktop() {
    bottom: 40%;
    left: 67%;
  }
  @include moreThanDesktop1440() {
    bottom: 43%;
    left: 940px;
  }
  @include moreThanDesktop1600() {
    bottom: 43%;
    left: 990px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    bottom: 41%;
    left: 1050px;
  }
  @include moreThan4k() {
    bottom: 41%;
    left: 60%;
  }
}
.childDashboardBoyToyBall {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 2%;
    left: 1%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 18%;
  }
  // @include moreThanTabletIpadPro() {
  //   img {
  //     width: 70px;
  //   }
  //   top: 900px;
  // }
  @include moreThanDesktop() {
    bottom: 1%;
    left: 30%;
  }
  @include moreThanDesktop1440() {
    bottom: 32%;
    left: 570px;
  }
  @include moreThanDesktop1600() {
    bottom: 18%;
    left: 80px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    bottom: 18%;
    left: 560px;
  }
  @include moreThan4k() {
    bottom: 21%;
    left: 22%;
  }
}
.childDashboardBoyToyMonkey {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 59%;
    left: 89%;
  }
  @include moreThanTablet() {
    bottom: 43%;
    left: 69%;
  }
  // @include moreThanTabletIpadPro() {
  //   img {
  //     width: 70px;
  //   }
  // }
  @include moreThanDesktop() {
    left: 62%;
  }
  @include moreThanDesktop1440() {
    bottom: 40%;
    left: 980px;
  }
  @include moreThanDesktop1600() {
    bottom: 40%;
    left: 1100px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    bottom: 40%;
    left: 1280px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 40%;
    left: 65%;
  }
}
.childDashboardBoyToyBlocks {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 34%;
    left: 8%;
  }
  @include moreThanTablet() {
    bottom: 54%;
    left: 18%;
  }
  // @include moreThanTabletIpadPro() {
  //   // top: 568px;
  //   left: 400px;
  // }
  @include moreThanDesktop() {
    bottom: 53%;
    left: 20%;
  }
  @include moreThanDesktop1440() {
    bottom: 52%;
    left: 275px;
  }
  @include moreThanDesktop1600() {
    bottom: 52%;
    left: 330px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 140px;
    }
    bottom: 51%;
    left: 360px;
  }
  @include moreThan4k() {
    img {
      width: 170px;
    }
    bottom: 50%;
    left: 18%;
  }
}
.childDashboardBoyToyCounter {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 34%;
    left: 22%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 6%;
  }
  // @include moreThanTabletIpadPro() {
  //   img {
  //     width: 150px;
  //   }
  //   // top: 750px;
  //   left: 200px;
  // }
  @include moreThanDesktop() {
    bottom: 27%;
    left: -1%;
  }
  @include moreThanDesktop1440() {
    bottom: 28%;
    left: 120px;
  }
  @include moreThanDesktop1600() {
    bottom: 26%;
    left: 150px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 150px;
    }
    left: 180px;
  }
  @include moreThan4k() {
    img {
      width: 200px;
    }
    bottom: 28%;
    left: 8%;
  }
}
.childDashboardBoyToyFootBall {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 45px;
    }
    bottom: 2%;
    left: 12%;
  }
  @include moreThanTablet() {
    img {
      width: 50px;
    }
    bottom: 1%;
    left: 31%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 70px;
    }
    // top: 900px;
    left: 320px;
  }
  @include moreThanDesktop() {
    img {
      width: 50px;
    }
    left: 25%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 60px;
    }
    bottom: 2%;
    left: 330px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 380px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    left: 390px;
  }
  @include moreThan4k() {
    bottom: 21%;
    left: 18%;
  }
}
.childDashboardBoyToyTrain {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 10%;
    left: 2%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 31%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 180px;
    }
    // top: 900px;
    left: 600px;
  }
  @include moreThanDesktop() {
    bottom: 1%;
    left: 59%;
  }
  @include moreThanDesktop1440() {
    bottom: 2%;
    left: 400px;
  }
  @include moreThanDesktop1600() {
    bottom: 2%;
    left: 1250px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 200px;
    }
    bottom: 18%;
    left: 670px;
  }
  @include moreThan4k() {
    img {
      width: 300px;
    }
    bottom: 24%;
    left: 27%;
  }
}
.childDashboardBoyToyTank {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 70px;
    }
    bottom: 28%;
    left: 0%;
  }
  @include moreThanTablet() {
    img {
      width: 100px;
    }
    bottom: 1%;
    left: 1%;
  }
  @include moreThanTabletIpadPro() {
    // top: 1200px;
  }
  @include moreThanDesktop() {
    img {
      width: 80px;
    }
    left: 5px;
  }
  @include moreThanDesktop1440() {
    img {
      width: 100px;
    }
    bottom: 2%;
    left: 1%;
  }
  @include moreThanDesktop1600() {
    bottom: 2%;
    left: 10px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 120px;
    }
    left: 30px;
  }
  @include moreThan4k() {
    img {
      width: 130px;
    }
    bottom: 1%;
    left: 1%;
  }
}
.childDashboardBoyToyCar {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 80px;
    }
    bottom: 7%;
    left: 85%;
  }
  @include moreThanTablet() {
    img {
      width: 120px;
    }
    bottom: 1%;
    left: 85%;
  }
  @include moreThanTabletIpadPro() {
    // top: 1200px;
  }
  @include moreThanDesktop() {
    img {
      width: 100px;
    }
    left: 91%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 120px;
    }
    bottom: 2%;
    left: 1280px;
  }
  @include moreThanDesktop1600() {
    bottom: 2%;
    left: 1440px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 150px;
    }
    left: 1680px;
  }
  @include moreThan4k() {
    img {
      width: 190px;
    }
    bottom: 1%;
    left: 75%;
  }
}
.childDashboardBoyToyGame {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 45px;
    }
    bottom: 34%;
    left: 1%;
  }
  @include moreThanTablet() {
    img {
      width: 60px;
    }
    bottom: 33%;
    left: 1%;
  }
  @include moreThanTabletIpadPro() {
    // top: 780px;
  }
  @include moreThanDesktop() {
    bottom: 2px;
    left: 7%;
  }
  @include moreThanDesktop1440() {
    bottom: 29%;
    left: 20px;
  }
  @include moreThanDesktop1600() {
    bottom: 23%;
    left: 10px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    left: 20px;
  }
  @include moreThan4k() {
    img {
      width: 90px;
    }
    bottom: 27%;
    left: 1%;
  }
}
.childDashboardBoyToySpaceShip {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 60px;
    }
    bottom: 2%;
    left: 80%;
  }
  @include moreThanTablet() {
    img {
      width: 80px;
    }
    bottom: 1%;
    left: 12%;
  }
  @include moreThanDesktop() {
    left: 84%;
  }
  @include moreThanDesktop1440() {
    left: 1150px;
  }
  @include moreThanDesktop1600() {
    left: 1150px;
  }

  @include moreThanDesktop1920() {
    img {
      width: 100px;
    }
    left: 1490px;
  }
  @include moreThan4k() {
    img {
      width: 110px;
    }
    bottom: 1%;
    left: 85%;
  }
}
.childDashboardBoyToyBoat {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 60px;
    }
    bottom: 33%;
    left: 65%;
  }
  @include moreThanTablet() {
    bottom: 2%;
    left: 64%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 70px;
    }
    // top: 900px;
    left: 10px;
  }
  @include moreThanDesktop() {
    img {
      width: 60px;
    }
    left: 19%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 80px;
    }
    left: 160px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 270px;
  }

  @include moreThanDesktop1920() {
    left: 110px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 15%;
    left: 1%;
  }
}
.childDashboardBoyToyBucket {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 50px;
    }
    bottom: 32%;
    left: 37%;
  }
  @include moreThanTablet() {
    img {
      width: 60px;
    }
    bottom: 10%;
    left: 92%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 80px;
    }
    // top: 1000px;
    left: 10px;
  }
  @include moreThanDesktop() {
    img {
      width: 60px;
    }
    bottom: 37%;
    left: 56%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 80px;
    }
    bottom: 2%;
    left: 920px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 450px;
  }
  @include moreThanDesktop1920() {
    bottom: 20%;
    left: 980px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 22%;
    left: 40%;
  }
}
.childDashboardBoyToyRocket {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 40px;
    }
    bottom: 33%;
    left: 55%;
  }
  @include moreThanTablet() {
    img {
      width: 50px;
    }
    bottom: 16%;
    left: 1%;
  }
  @include moreThanDesktop() {
    bottom: 15%;
    left: 5px;
  }
  @include moreThanDesktop1440() {
    bottom: 8%;
    left: 5px;
  }
  @include moreThanDesktop1600() {
    bottom: 52%;
    left: 260px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 70px;
    }
    bottom: 12%;
    left: 190px;
  }
  @include moreThan4k() {
    img {
      width: 80px;
    }
    bottom: 1%;
    left: 8%;
  }
}
.childDashboardBoyToyRobot {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 2%;
    left: 19%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 24%;
  }
  @include moreThanTabletIpadPro() {
    // top: 900px;
    left: 100px;
  }
  @include moreThanDesktop() {
    bottom: 1%;
    left: 12%;
  }
  @include moreThanDesktop1440() {
    bottom: 2%;
    left: 250px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 540px;
  }

  @include moreThanDesktop1920() {
    img {
      width: 90px;
    }
    bottom: 15%;
    left: 270px;
  }
  @include moreThan4k() {
    img {
      width: 120px;
    }
    bottom: 15%;
    left: 10%;
  }
}
.childDashboardBoyToyPuppy {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 2%;
    left: 66%;
  }
  @include moreThanTablet() {
    bottom: 45%;
    left: 55%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 90px;
    }
    // top: 770px;
    left: 580px;
  }
  @include moreThanDesktop() {
    left: 700px;
  }
  @include moreThanDesktop1440() {
    bottom: 42%;
    left: 52%;
  }
  @include moreThanDesktop1600() {
    bottom: 38%;
    left: 830px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 90px;
    }
    bottom: 25%;

    left: 750px;
  }
  @include moreThan4k() {
    img {
      width: 110px;
    }
    bottom: 1%;
    left: 90%;
  }
}
.childDashboardBoyToyPlane {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 12%;
    left: 68%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 22%;
  }
  @include moreThanTabletIpadPro() {
    // top: 1000px;
  }
  @include moreThanDesktop() {
    bottom: 2%;
    left: 35%;
  }
  @include moreThanDesktop1440() {
    bottom: 40%;
    left: 850px;
  }
  @include moreThanDesktop1600() {
    bottom: 38%;
    left: 900px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    left: 1150px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 2%;
    left: 95%;
  }
}
.childDashboardBoyToyHelicopter {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 11%;
    left: 23%;
  }
  @include moreThanTablet() {
    bottom: 10%;
    left: 80%;
  }
  @include moreThanTabletIpadPro() {
    // top: 1200px;
  }
  @include moreThanDesktop() {
    img {
      width: 80px;
    }
    bottom: 1%;
    left: 71%;
  }
  @include moreThanDesktop1440() {
    bottom: 2%;
    left: 1050px;
  }
  @include moreThanDesktop1600() {
    bottom: 10%;
    left: 1390px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 100px;
    }
    bottom: 15%;
    left: 450px;
  }
  @include moreThan4k() {
    img {
      width: 120px;
    }
    bottom: 19%;
    left: 53%;
  }
}
.childDashboardBoyToyApatosaurus {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 11%;
    left: 85%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 71%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 90px;
    }
    // top: 850px;
    left: 850px;
  }
  @include moreThanDesktop() {
    left: 77%;
  }
  @include moreThanDesktop1440() {
    bottom: 8%;
    left: 1200px;
  }
  @include moreThanDesktop1600() {
    bottom: 24%;
    left: 620px;
  }

  @include moreThanDesktop1920() {
    img {
      width: 100px;
    }
    bottom: 10%;
    left: 1730px;
  }
  @include moreThan4k() {
    img {
      width: 130px;
    }
    bottom: 12%;
    left: 90%;
  }
}
.childDashboardGirlToyBlocks {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 34%;
    left: 8%;
  }
  @include moreThanTablet() {
    bottom: 54%;
    left: 18%;
  }
  @include moreThanTabletIpadPro() {
    // top: 568px;
    left: 400px;
  }
  @include moreThanDesktop() {
    bottom: 53%;
    left: 20%;
  }
  @include moreThanDesktop1440() {
    bottom: 52%;
    left: 275px;
  }
  @include moreThanDesktop1600() {
    bottom: 52%;
    left: 350px;
  }

  @include moreThanDesktop1920() {
    img {
      width: 140px;
    }
    bottom: 51%;
    left: 390px;
  }
  @include moreThan4k() {
    img {
      width: 170px;
    }
    bottom: 50%;
    left: 18%;
  }
}
.childDashboardGirlToyBoat {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 50px;
    }
    bottom: 1%;
    left: 1%;
  }
  @include moreThanTablet() {
    img {
      width: 65px;
    }
    bottom: 1%;
    left: 1%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 70px;
    }
    // top: 900px;
    left: 10px;
  }
  @include moreThanDesktop() {
    img {
      width: 70px;
    }
    bottom: 1%;
    left: 77%;
  }
  @include moreThanDesktop1440() {
    bottom: 1%;
    left: 120px;
  }
  @include moreThanDesktop1600() {
    bottom: 1%;
    left: 10px;
  }
  @include moreThanDesktop1920() {
    // top: 810px;
  }
  @include moreThan4k() {
    img {
      width: 110px;
    }
    bottom: 1%;
    left: 1%;
  }
}
.childDashboardGirlToyBaloon {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 52%;
    left: 25%;
  }
  @include moreThanTablet() {
    bottom: 54%;
    left: 13%;
  }
  @include moreThanTabletIpadPro() {
    // top: 530px;
    left: 300px;
  }
  @include moreThanDesktop() {
    bottom: 53%;
    left: 12%;
  }
  @include moreThanDesktop1440() {
    bottom: 52%;
    left: 200px;
  }
  @include moreThanDesktop1600() {
    bottom: 52%;
    left: 290px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 100px;
    }
    bottom: 51%;
    left: 320px;
  }
  @include moreThan4k() {
    img {
      width: 120px;
    }
    bottom: 50%;
    left: 14%;
  }
}
.childDashboardGirlToyButterfly {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 60px;
    }
    bottom: 1%;
    left: 9%;
  }
  @include moreThanTablet() {
    bottom: 44%;
    left: 70%;
  }
  @include moreThanDesktop() {
    img {
      width: 70px;
    }
    bottom: 42%;
    left: 65%;
  }
  @include moreThanDesktop1440() {
    bottom: 42%;
    left: 960px;
  }
  @include moreThanDesktop1600() {
    bottom: 39%;
    left: 1110px;
  }
  @include moreThanDesktop1920() {
    left: 1000px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 39%;
    left: 70%;
  }
}
.childDashboardGirlToyCar {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 75px;
    }
    bottom: 1%;
    left: 18%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 75%;
  }
  @include moreThanDesktop() {
    img {
      width: 80px;
    }
    left: 83%;
  }
  @include moreThanDesktop1440() {
    bottom: 1%;
    left: 1320px;
  }
  @include moreThanDesktop1600() {
    bottom: 1%;
    left: 1150px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 120px;
    }
    left: 1700px;
  }
  @include moreThan4k() {
    img {
      width: 130px;
    }
    bottom: 0%;
    left: 75%;
  }
}
.childDashboardGirlToyCounter {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 34%;
    left: 22%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 8%;
  }
  @include moreThanDesktop() {
    bottom: 26%;
    left: -1%;
  }
  @include moreThanDesktop1440() {
    bottom: 28%;
    left: 120px;
  }
  @include moreThanDesktop1440() {
    bottom: 28%;
    left: 120px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 150px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 150px;
    }
    bottom: 27%;
    left: 180px;
  }
  @include moreThan4k() {
    img {
      width: 200px;
    }
    bottom: 28%;
    left: 8%;
  }
}
.childDashboardGirlToyMonkey {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 57%;
    left: 89%;
  }
  @include moreThanTablet() {
    bottom: 47%;
    left: 53%;
  }
  @include moreThanDesktop() {
    img {
      width: 60px;
    }
    bottom: 47%;
    left: 52%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 75px;
    }
    bottom: 49%;
    left: 790px;
  }
  @include moreThanDesktop1600() {
    bottom: 49%;
    left: 225px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 90px;
    }
    bottom: 48%;
    left: 250px;
  }
  @include moreThan4k() {
    img {
      width: 130px;
    }
    bottom: 55%;
    left: 57%;
  }
}
.childDashboardGirlToyBear {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 60px;
    }
    bottom: 9%;
    left: 24%;
  }
  @include moreThanTablet() {
    img {
      width: 60px;
    }
    bottom: 47%;
    left: 60%;
  }
  @include moreThanDesktop() {
    img {
      width: 70px;
    }
    bottom: 43%;
    left: 59%;
  }
  @include moreThanDesktop1440() {
    bottom: 45%;
    left: 880px;
  }
  @include moreThanDesktop1600() {
    bottom: 42%;
    left: 970px;
  }
  @include moreThanDesktop1920() {
    left: 1100px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 42%;
    left: 63%;
  }
}
.childDashboardGirlToyElephant {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 33%;
    left: 53%;
  }
  @include moreThanTablet() {
    bottom: 38%;
    left: 37%;
  }
  @include moreThanDesktop() {
    bottom: 31%;
    left: 38%;
  }
  @include moreThanDesktop1440() {
    bottom: 28%;
    left: 450px;
  }
  @include moreThanDesktop1600() {
    bottom: 25%;
    left: 610px;
  }
  @include moreThanDesktop1920() {
    left: 550px;
  }
  @include moreThan4k() {
    img {
      width: 120px;
    }
    bottom: 27%;
    left: 20%;
  }
}
.childDashboardGirlToyBucket {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 45px;
    }
    bottom: 20%;
    left: 1%;
  }
  @include moreThanTablet() {
    img {
      width: 50px;
    }
    bottom: 1%;
    left: 63%;
  }
  @include moreThanDesktop() {
    img {
      width: 60px;
    }
    bottom: 0%;
    left: 25%;
  }
  @include moreThanDesktop1440() {
    bottom: 1%;
    left: 1100px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 550px;
  }
  @include moreThanDesktop1920() {
    left: 1000px;
  }
  @include moreThan4k() {
    img {
      width: 80px;
    }
    bottom: 28%;
    left: 40%;
  }
}
.childDashboardGirlToyPig {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 33%;
    left: 63%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 20%;
  }
  @include moreThanDesktop() {
    img {
      width: 65px;
    }
    bottom: 2%;
    left: 30%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 80px;
    }
    bottom: 1%;
    left: 320px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 460px;
  }
  @include moreThanDesktop1920() {
    left: 350px;
  }
  @include moreThan4k() {
    img {
      width: 140px;
    }
    bottom: 2%;
    left: 8%;
  }
}
.childDashboardGirlToyBall {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 50px;
    }
    bottom: 53%;
    left: 35%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 30%;
  }
  @include moreThanDesktop() {
    img {
      width: 60px;
    }
    left: 36%;
  }
  @include moreThanDesktop1440() {
    bottom: 32%;
    left: 570px;
  }
  @include moreThanDesktop1600() {
    bottom: 15%;
    left: 8px;
  }
  @include moreThanDesktop1920() {
    left: 150px;
  }
  @include moreThan4k() {
    img {
      width: 110px;
    }
    bottom: 13%;
    left: 1%;
  }
}
.childDashboardGirlToyScooty {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 1%;
    left: 65%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 85%;
  }
  @include moreThanDesktop() {
    // top: 490px;
    left: 5px;
  }
  @include moreThanDesktop1440() {
    img {
      width: 110px;
    }
    bottom: 1%;
    left: 1%;
  }
  @include moreThanDesktop1600() {
    bottom: 2%;
    left: 1450px;
  }
  @include moreThanDesktop1920() {
    left: 130px;
  }
  @include moreThan4k() {
    img {
      width: 170px;
    }
    bottom: 1%;
    left: 87%;
  }
}
.childDashboardGirlToySingleCar {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 70px;
    }
    bottom: 1%;
    left: 89%;
  }
  @include moreThanTablet() {
    img {
      width: 80px;
    }
    bottom: 1%;
    left: 8%;
  }
  @include moreThanDesktop() {
    bottom: 1%;
    left: 90%;
  }
  @include moreThanDesktop1440() {
    bottom: 2%;
    left: 1190px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 380px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 90px;
    }
    left: 450px;
  }
  @include moreThan4k() {
    img {
      width: 140px;
    }
    bottom: 15%;
    left: 88%;
  }
}
.childDashboardGirlToySpinosaurus {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 12%;
    left: 89%;
  }
  @include moreThanTablet() {
    bottom: 31%;
    left: 20%;
  }
  @include moreThanDesktop() {
    bottom: 0%;
    left: 10%;
  }
  @include moreThanDesktop1440() {
    bottom: 39%;
    left: 800px;
  }
  @include moreThanDesktop1600() {
    bottom: 39%;
    left: 840px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 90px;
    }
    left: 1200px;
  }
  @include moreThan4k() {
    img {
      width: 140px;
    }
    bottom: 6%;
    left: 93%;
  }
}
.childDashboardGirlToySquirrel {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 60px;
    }
    bottom: 12%;
    left: 81%;
  }
  @include moreThanTablet() {
    bottom: 10%;
    left: 91%;
  }
  @include moreThanDesktop() {
    img {
      width: 70px;
    }
    bottom: 1%;
    left: 71%;
  }
  @include moreThanDesktop1440() {
    bottom: 1%;
    left: 200px;
  }
  @include moreThanDesktop1600() {
    bottom: 38%;
    left: 1035px;
  }

  @include moreThanDesktop1920() {
    left: 1350px;
  }
  @include moreThan4k() {
    img {
      width: 100px;
    }
    bottom: 39%;
    left: 58%;
  }
}
.childDashboardGirlToyDoll {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 70px;
    }
    bottom: 1%;
    left: 78%;
  }
  @include moreThanTablet() {
    bottom: 1%;
    left: 68%;
  }
  @include moreThanDesktop() {
    img {
      width: 80px;
    }
    bottom: 30%;
    left: 12%;
  }
  @include moreThanDesktop1440() {
    bottom: 1%;
    left: 880px;
  }
  @include moreThanDesktop1600() {
    bottom: 20%;
    left: 800px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 100px;
    }
    bottom: 24%;
    left: 730px;
  }
  @include moreThan4k() {
    img {
      width: 140px;
    }
    bottom: 23%;
    left: 52%;
  }
}
.childDashboardGirlToyGame {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 45px;
    }
    bottom: 34%;
    left: 1%;
  }
  @include moreThanTablet() {
    img {
      width: 60px;
    }
    bottom: 32%;
    left: 1%;
  }
  @include moreThanDesktop() {
    bottom: 0%;
    left: 18%;
  }
  @include moreThanDesktop1440() {
    bottom: 29%;
    left: 20px;
  }
  @include moreThanDesktop1600() {
    bottom: 25%;
    left: 10px;
  }

  @include moreThanDesktop1920() {
    img {
      width: 80px;
    }
    left: 20px;
  }
  @include moreThan4k() {
    img {
      width: 90px;
    }
    bottom: 28%;
    left: 1%;
  }
}
.childDashboardGirlToyTrain {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    bottom: 10%;
    left: 2%;
  }
  @include moreThanTablet() {
    bottom: 32%;
    left: 31%;
  }
  @include moreThanTabletIpadPro() {
    img {
      width: 180px;
    }
    // top: 900px;
    left: 600px;
  }
  @include moreThanDesktop() {
    bottom: 1%;
    left: 59%;
  }
  @include moreThanDesktop1440() {
    bottom: 2%;
    left: 400px;
  }
  @include moreThanDesktop1600() {
    bottom: 2%;
    left: 1250px;
  }
  @include moreThanDesktop1920() {
    img {
      width: 200px;
    }
    bottom: 18%;
    left: 670px;
  }
  @include moreThan4k() {
    img {
      width: 300px;
    }
    bottom: 24%;
    left: 27%;
  }
}
.childDashboardGirlToyTruck {
  position: absolute;
  // display: none;
  @include moreThanMobile() {
    img {
      width: 70px;
    }
    bottom: 12%;
    left: 70%;
  }
  @include moreThanTablet() {
    bottom: 18%;
    left: 1%;
  }
  @include moreThanDesktop() {
    img {
      width: 75px;
    }
    bottom: 33%;
    left: 60%;
  }
  @include moreThanDesktop1440() {
    img {
      width: 100px;
    }
    bottom: 2%;
    left: 960px;
  }
  @include moreThanDesktop1600() {
    bottom: 22%;
    left: 270px;
  }
  @include moreThanDesktop1920() {
    bottom: 18%;
    left: 250px;
  }
  @include moreThan4k() {
    img {
      width: 130px;
    }
    bottom: 15%;
    left: 9%;
  }
}
